/*.hs_title_inner-p1 {
    font-family: 'Montserrat Bold', 'sans-serif';
}

.hs_title_inner span:last-child {
    text-transform: uppercase;
    font-family: 'Montserrat Bold', 'sans-serif';
    font-size: 30px;
}*/

.text-block__title {
	font-family: 'Gotham Pro', 'sans-serif' !important;
	text-shadow: none !important;
	background-size: 102% 100% !important;
}

.left-nav-menu.no-fixed-position {
	/*display: none;*/
}

.customSectionPage *{
    font-family: 'Montserrat', 'sans-serif';
}

.customSectionPage .hs_title_inner-p1 {
    font-family: 'Gotham Pro', 'sans-serif';
}

.customSectionPage .fa, .customSectionPage .far, .customSectionPage .fas {
    font-family: "Font Awesome 5 Free";
}

.customSectionPage .head_slider {
    margin-top: 0px;
}

.page-body {
		padding-top: 185px !important;
	}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome, if Chrome rule needed */
	.page-body {
        padding-top: 145px !important;
		/*padding-top: 185px !important;*/
	}
 }

.customSectionPage .hs_bg1 {
    background: url(/bitrix/templates/sokolniki_dev/img/slide_lechenie_zubov.png) no-repeat center center;
}

.customSectionPage .hs_inner {
    height: 537px;
    padding-top: 65px;
}

.customSectionPage .hs_title_inner-p1 {
	text-transform: uppercase;
	font-size: 76px;
	display: block;
}

.customSectionPage .hs_title_inner-p2 {
	text-transform: uppercase;
	font-size: 33px;
	display: inline;
	font-weight: normal;
}

.customSectionPage .hs_title_inner-p2 b {
	font-family: 'Gotham Pro', 'sans-serif';
	font-style: normal;
}

.customSectionPage .hs_title_inner > span:last-child {
    /*font-size: 33px;*/
    font-size: 26px;
    font-family: 'Gotham Pro', 'sans-serif';
    margin-top: 5px;
}

.customSectionPage .hs_inner .align_center {
	margin-top: 85px;
}

.customSectionPage .hs_title_inner > span:last-child span {
    position: relative;
    top: 5px;
    display: inline;
}

.customSectionPage .bread-crumbs {
    text-align: left;
}

.customSectionPage .bread-crumbs *{
    font-family: 'Montserrat', 'sans-serif';
}

.customSectionPage .bread-crumbs li a:after {
    content: '>';
    right: -17px;
}

.customSectionPage .bread-crumbs li a {
    color: #868686;
    margin-right: 22px;
}

.customSectionPage .title-section  {
	padding-left: 0 !important;
}

.customSectionPage .title-section .text-block__title {
    font-size: 30px;
    padding: 8px !important;
}

.customSectionPage .mainText p{
	font-size: 14px;
}

.customSectionPage .spa_preim_list {
    margin-top: 60px;
}

.customSectionPage .spa_preim_list > li {
    padding-left: 13px;
    padding-right: 13px;
}

.customSectionPage .spa_preim_list .spl_name {
	font-size: 16px;
}

.customSectionPage .spa_preim_list .spl_info {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    line-height: 18px;
}

.customSectionPage .priem.poiskpro-form .title_decor {
    font-size: 30px;
}

.customSectionPage .priem.poiskpro-form .title_decor:before {
    width: 106%;
    height: auto;
    background-size: contain;
    background-position: left 12px;
    bottom: -15px;
}

.customSectionPage .priem.poiskpro-form .spa_l {
    width: 48%;
}

.customSectionPage .priem.poiskpro-form .spa_r {
    width: 52%;
    padding-top: 0;
}

.customSectionPage .what_list_custom {
	text-align: center;
	display: block;
    width: 100%;
    margin-top: 100px;
    padding-left: 0;
}

.customSectionPage .what_list_custom li {
	list-style: none;
	display: inline-block;
	margin: 0 30px 60px;
}

.customSectionPage .what_list_custom .wl_circle {
    width: 250px;
    height: 250px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.customSectionPage .what_list_custom .wl_circle > div {
	width: 250px;
    height: 250px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: -5px;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1) inset;
}

.customSectionPage .wl_inner {
    display: table;
    width: 255px;
    height: 255px;
    margin-left: -5px;
}

.customSectionPage .wl_inner span {
    font-size: 11px;
    font-weight: normal;
    line-height: 16px !important;
}

.customSectionPage .wl_inner b {
    margin-bottom: 8px;
    font-size: 16px;
    font-family: 'Gotham Pro', 'sans-serif';
}

.customSectionPage .doctor:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    background: transparent;
    left: 0;
    top: 0;
}

.customSectionPage .doctor:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    background: transparent;
    right: 0;
    bottom: 0;
}

.customSectionPage .tm i {
    padding: 0 26px;
    font-weight: normal;
}

.customSectionPage .doctor .ds_inner {
    width: 265px;
}

.customSectionPage .doctor .ds_name {
    font-size: 14px;
}

.customSectionPage .ds_img img {
    height: auto;
}

.customSectionPage .otz {
	margin-top: 85px;
}

.customSectionPage .otz:before {
    width: 100%;
    height: auto;
    background: transparent;
    top: 0;
}

.customSectionPage .os_content {
    padding-left: 30px;
}

.customSectionPage .os_ava {
    position: static;
    left: 0;
    top: 0;
    width: 208px;
    margin-left: 30px;
    float: left;
    margin-right: 30px;
}

.customSectionPage .equipment:before {
    top: 0;
    background: transparent;
    width: 100%;
    height: auto;
}

.customSectionPage .equipment_list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 50;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -24px;
    margin-top: 76px;
}

.customSectionPage .equipment_list > li {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.customSectionPage .ysl_list {
   height: auto;
   display: block;
}

.customSectionPage .ysl_list::after {
	clear: both;
	display: block;
	content: "";
}

.customSectionPage .ysl_list > li {
    width: 25%;
    height: auto;
    background: transparent;
    padding: 15px;
}

.customSectionPage .ysl_list > li:hover {
    top: 0;
}

.customSectionPage .yl_name_inner {
    padding-left: 63px;
}


.customSectionPage .yl_inner_list {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.customSectionPage .yl_name_inner span {
    font-size: 12px;
}

.customSectionPage .yl_name_main img {
    left: 0;
}

.customSectionPage .custom_header {
	margin-top: 80px;
	margin-bottom: 80px;
}

.customSectionPage .custom_header .tm_inner::before {
	width: 116%;
    background-size: contain;
    height: auto;
    bottom: -35px;
    top: -11px;
	left: -23px;
}

.customSectionPage .custom_header .tm_inner span {
    font-size: 32px;
}

.customSectionPage .wrapperForm {
	clear: both;
	margin-top: 115px;
    margin-bottom: 55px;
}

.customSectionPage .licens_custom {
    margin-bottom: 70px;
}

.footer {
    box-sizing: border-box;
}


.customSectionPage .lineInfo {
    width: 100%;
    background: #0081c2;
    padding: 35px 0;
    margin: 30px 0 60px;
}

.customSectionPage .lineInfo span {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.customSectionPage .lineInfo a {
    color: #0081c2;
    font-weight: bold;
    background: #fff;
    padding: 8px 46px;
    float: right;
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.customSectionPage .priem_img:before {
    top: 0px;
    -webkit-background-size: 100% 101%;
    -o-background-size: 100% 101%;
    -moz-background-size: 100% 101%;
    background-size: 100% 101%;
}


/* Style the tab */
.customSectionPage .tab {
    overflow: hidden;
    display: table;
    width: 88%;
    margin: 0 auto;
}

/* Style the buttons that are used to open the tab content */
.customSectionPage .tab button {
   /* background-color: inherit;*/
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    background-color: #7db0de;
}

/* Change background color of buttons on hover */
.customSectionPage .tab button:hover {
    background-color: #7db0de;
}

/* Create an active/current tablink class */
.customSectionPage .tab button.active {
    background-color: #0d7fc7 !important;
    position: relative;
    width: auto;
    /*height: 38px;*/
}

 .customSectionPage .tab button.active:after {
    content: '';
    position: absolute;
    right: -37px;
    top: 0px;
    border: 20px solid transparent;
    border-left: 17px solid #0d7fc7;
}

/* Style the tab content */
.customSectionPage .tabcontent {
    display: none;
    border-top: none;
}

.customSectionPage .tablinks{
    font-size: 13px;
    color: #fff;
    font-weight: 550;
    width: auto;
}

.customSectionPage .stages_text {
    padding-left: 50px;
    padding-right: 100px;

}

.customSectionPage .tab_block{
    display: flex;
    padding-top: 30px;
    padding-left: 40px;
}

.customSectionPage .stages_text ul li span {
    color: black;
    font-size: 15px;
}

.customSectionPage .stages_text ul li {
    font-size: 18px;
    color: #0d7fc7;
}

.customSectionPage .result_text{
    background-color: #0d7fc7;
    font-size: 15px;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 25px;
}

.customSectionPage .result_text p {
    display: block;
    width: 88%;
    margin: 0 auto;
}

.customSectionPage .tablinks.tablinks1 {
    padding-right: 3%;
    padding-left: 4%;
}
.customSectionPage .tablinks.tablinks2 {
    padding-right: 3%;
    padding-left: 6%;
}
.customSectionPage .tablinks.tablinks3 {
    padding-right: 3%;
    padding-left: 3%;
}
.customSectionPage .tablinks.tablinks4 {
    padding-right: 3%;
    padding-left: 4%;
}

.customSectionPage .tabcontentFirst {
    display: block;
}

.customSectionPage .withShadow{
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 70px;
}

.customSectionPage .innerBlockTabs {
    padding: 35px 0;
}

.customSectionPage .innerBlockTabs h4 {
    font-weight: bold;
    font-family: 'Gotham Pro', 'sans-serif';
    font-size: 16px;
}

.customSectionPage .tablinks.last.tablinks4.active {
    border: 0 solid transparent !important;
    border-left: 0 solid transparent !important;
}

.customSectionPage .tab button.tablinks4.active::after {
    border: 0 solid transparent !important;
    border-left: 0 solid transparent !important;
}

.customSectionPage .price-item1_custom table{
    background-color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
}

.customSectionPage .price-item1_custom table tbody {
    overflow: hidden;
    max-height: none;
}

.customSectionPage .price-item1_custom table tr {
    background-color: #fff;
}

.customSectionPage .price-item1_custom table .tr_p td {
    color: #434343;
    background-color: #fff;
    line-height: 20px;
}

.customSectionPage .price-item1_custom table .tr_p td:last-child {
    font-weight: bold;
    text-align: right;
}

.customSectionPage .price-item1_custom table .tr_p td:last-child p{
    font-family: 'Gotham Pro', 'sans-serif';
}

.customSectionPage #show-more-prices {
    font-size: 16px;
    display: inline-block;

}
.customSectionPage .show-less-prices-customLink{
    display: table;
    margin: 0 auto;
}
.customSectionPage .show-more-prices-customLink {
    display: table;
    margin: 0 auto;
}

.customSectionPage #show-more-prices i.material-icons {
    vertical-align: sub;
}

.arrow-down i{
    visibility: hidden;
}

.customSectionPage .price-item1_custom table thead tr {
    background-color: #0d7fc7 !important;
}

.customSectionPage .price_title{
    background-color: #0d7fc7 !important;
    color: white !important;
    height: auto !important;
    text-transform: uppercase !important;
    line-height: 23px;
}

.customSectionPage .price_title:last-child{
    text-align: right;
}

.customSectionPage .td_first{
    color: black !important;
    background-color: white !important;
}
.customSectionPage .td_second{
    background-color: #e4f2f8 !important;
    color: black !important;
}

.customSectionPage .price-item1_custom table .td_first {
    background-color: #fff;
}

.customSectionPage .price-item1_custom table .td_second {
    background-color: #e4f2f8;
}

.customSectionPage .price-item1_custom  table tr.tr_p:hover {
    background-color: #abd9ec !important;
    cursor: pointer;
}

.customSectionPage .price-item1_custom table td:first-child {
    width: 76%;
}

.customSectionPage .price-item1_custom table td:last-child {
    width: 24%;
}

.customSectionPage .price-item1_custom table tr.tr_p td {
    background-color: transparent;
}

.customSectionPage .price-item1_custom {
    padding-bottom: 35px;
}

.customSectionPage .price-info-item.shadow {
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

.customSectionPage .custom_header2 {
    text-align: center;
    margin: 80px 0;
}

.customSectionPage .custom_header2 .tm_inner::before {
    top: -8px;
    left: -115px;
    right: 0;
    bottom: -30px;
    background-size: contain;
}

.customSectionPage .custom_left_menu {
	box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    background: #fff;
}

.customSectionPage .custom_left_menu .left-item {
	box-sizing: border-box;
	word-wrap: break-word;
	position: relative;
	list-style: none;
}

.customSectionPage .custom_left_menu ul {
	padding-left: 0;
}

.customSectionPage .custom_left_menu .left-item:hover .sub-nav-item-content {
	display: block;
}

.customSectionPage .custom_left_menu .sub-nav-item-content {
	position: absolute;
	left: 100%;
	opacity: 1;
	background: #fff;
	box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    height: auto;
    width: 150%;
    top: 0;
    margin-left: 10px;
}

.customSectionPage .paddClear {
	padding: 0;
}

.customSectionPage .custom_left_menu .left-item:hover {
	background: #86BFE3;
}

.customSectionPage .custom_left_menu .left-item:hover > a{
	font-weight: bold;
}

.customSectionPage .custom_left_menu a{
	color: #2D2F31;
	text-decoration: none;
	padding: 5px 16px 5px 10px;
	display: block;
	transition: 0s !important;
}

.customSectionPage .custom_left_menu .title-nav {
	display: block;
	padding: 5px 10px;
	background: #0D7FC7;
	color: #fff;
	text-transform: uppercase;
}

.customSectionPage .custom_left_menu .left-item-color {
	background: #E7F2F9;
}

.customSectionPage .custom_left_menu .fa-play {
	font-size: 7px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -3.5px;
}

.fixed_menu_enabled {
    position: fixed;
    top: 200px;
    width: 175px;
    z-index: 80;
}

.custom_left_menu--mobile {
    display: none;
    margin: -7px auto 70px !important;
}

.custom_left_menu--mobile i{
    display: none;
}

.customSectionPage .custom_left_menu.custom_left_menu--mobile .left-item:hover .sub-nav-item-content {
    display: none;
}

.customSectionPage .eql_info {
    height: auto !important;
    font-size: 14px;
    font-family: 'Gotham Pro', 'sans-serif';
}

.customSectionPage .eql_info span{
    font-family: 'Montserrat', 'sans-serif';
}

.customSectionPage .doctor_slider_custom .slick-dots li button {
    width: 20px;
    height: 20px;
    border-color: #EEE;
}

.customSectionPage .doctor_slider_custom .slick-dots li {
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 26px;
}

.abs-left-menu {
	position: absolute;
}

.customSectionPage .price-item1_custom .arrow-down {
	margin-top: 26px;
}

/****  adaptive  *****/

@media (max-width: 1299px) {

    .fixed_menu_enabled {
        top: 270px;
    }

    .customSectionPage .hs_title_inner-p1 {
		font-size: 70px;
	}

    .customSectionPage .hs_title_inner-p2 {
		font-size: 29px;
	}

	.customSectionPage .hs_title_inner > span:last-child {
	    font-size: 22px;
	}

	.customSectionPage .hs_inner {
	    padding-top: 143px;
	    height: auto;
	    padding-bottom: 45px;
	}
}


@media (max-width: 1199px) {
    body .customSectionPage button.active::after {
        border: 19px solid transparent !important;
        border-left: 18px solid #0d7fc7 !important;
    }

    .customSectionPage .tablinks {
        margin-bottom: 10px;
    }

    .customSectionPage .lineInfo a {
        float: none;
        display: table;
        margin: 10px auto 0;
    }

    .customSectionPage .ysl_list > li {
        width: 50%;
    }

    .fixed_menu_enabled {
        width: 141px;
    }

    .customSectionPage .priem.poiskpro-form .title_decor {
        font-size: 23px;
    }

    .customSectionPage .tm_inner span {
        font-size: 30px;
    }

    .customSectionPage .custom_header .tm_inner span {
        font-size: 30px;
    }
}


@media (max-width: 1025px) {
    .customSectionPage .priem.poiskpro-form .spa_l {
        width: 100%;
    }

    .customSectionPage .priem.poiskpro-form .spa_r {
        width: 100%;
    }

    .customSectionPage .priem.poiskpro-form {
        margin-top: 0;
    }

    .customSectionPage .priem.poiskpro-form .title_decor::before {
        background-size: cover;
        bottom: -10px;
    }
}

@media (max-width: 993px) {
    .customSectionPage .hs_inner {
	    padding-top: 100px;
	}

	.customSectionPage .hs_title_inner-p1 {
		font-size: 60px;
	}

    .customSectionPage .hs_title_inner-p2 {
		font-size: 22px;
	}

	.customSectionPage .hs_title_inner > span:last-child {
	    font-size: 17px;
	}

	.customSectionPage .hs_inner .align_center {
	    margin-top: 65px;
	}
}

@media (max-width: 991px) {
    .custom_left_menu--fixed {
        display: none;
    }

    .custom_left_menu--mobile {
        display: block;
    }
}

@media (max-width: 877px) {
    .customSectionPage .hs_title_inner-p1 {
        font-size: 55px;
        display: block;
    }

    .customSectionPage .hs_title_inner-p2 {
        font-size: 25px;
    }
}

@media (max-width: 762px) {
    .customSectionPage .hs_title_inner-p1 {
		font-size: 45px;
	}

    .customSectionPage .hs_title_inner-p2 {
		font-size: 16px;
	}

	.customSectionPage .hs_title_inner > span:last-child {
	    font-size: 14px;
	}
}

@media (max-width: 670px) {
    .customSectionPage .custom_header .tm_inner span {
        font-size: 22px;
    }

    .customSectionPage .ysl_list {
        margin-top: 40px;
    }

    .customSectionPage .custom_header .tm_inner::before {
        width: 143%;
        top: -14px;
    }

    .customSectionPage .tm_inner span {
        font-size: 22px;
    }
}

@media (max-width: 632px) {
    .customSectionPage .os_ava {
        margin: 0 auto 10px;
        float: none;
    }

    .customSectionPage .hs_title_inner-p1 {
        font-size: 38px;
        display: block;
    }

    .customSectionPage .hs_title_inner-p2 {
        font-size: 18px;
    }
}

@media (max-width: 602px) {
    .customSectionPage .doctor .ds_inner {
        margin: 0 auto;
    }

    .customSectionPage .otz_slider {
        padding-left: 0px;
        padding-right: 20px;
    }

    .customSectionPage .hs_title_inner-p1 {
		font-size: 30px;
	}

	.customSectionPage .hs_title_inner-p2 {
		font-size: 16px;
	}
}

@media (max-width: 572px) {
    .customSectionPage .price-item1_custom table td:last-child {
        width: 40%;
    }
    .customSectionPage .price-item1_custom table td:first-child {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .text-block__title {
        line-height: normal !important;
    }

    .customSectionPage .custom_header .tm_inner span {
        font-size: 15px;
    }
}

@media (max-width: 445px) {
    .customSectionPage .stages_text {
        padding-left: 0px;
        padding-right: 20px;
    }

    .customSectionPage .main_otz_inner iframe {
        width: 100%;
    }

    .customSectionPage .tm_inner span {
        font-size: 15px;
    }

    .customSectionPage .tm_inner::before {
        width: 308px;
    }

    .customSectionPage .doctor .tm i {
        padding: 0 15px;
    }
}

@media (max-width: 308px) {
    .customSectionPage .tm_inner span {
        font-size: 14px;
    }
}