
/*fonts*/
@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/gothapro_black.eot');
    src: local('☺'), url('fonts/gothapro_black.woff') format('woff'), url('fonts/gothapro_black.ttf') format('truetype'), url('fonts/gothapro_black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/gothapro_bold.eot');
    src: local('☺'), url('fonts/gothapro_bold.woff') format('woff'), url('fonts/gothapro_bold.ttf') format('truetype'), url('fonts/gothapro_bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.ttf');
    src: local('☺'), url('fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/*reset light*/
html, body {
    margin: 0;
    padding: 0;
}
body.main {
    font-family: 'Montserrat', sans-serif;;
}
body.main input, body.main textarea, body.main select, body.main button {
    font-family: 'Montserrat', sans-serif;;
}
a:hover {
    text-decoration: none;
}
img, a, input, textarea, select, button {
    outline-style: none;
}
button::-moz-focus-inner {
  border: 0;
}
    
input {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.container_main {
    min-width: 320px;
    overflow: hidden;
}
.clr {
    clear: both;
}
.align_center {
    text-align: center;
}
.wmain {
    max-width: 1356px;
    margin: 0 auto;
}

.overflow {
    overflow: hidden;
}

.hl_fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 600;
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
            box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.hlf_top {
    text-align: center;
    background: #0D7FC7;
}
    .hlf_top > img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 1920px;
    }


.hl_nav {
    text-align: center;
    background: #FFF;
}

.hl_nav_list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

    .hl_nav_list > li {
        display: inline-block;
        vertical-align: top;
        margin-left: 45px;
        margin-right: 45px;
    }

    .hl_nav_list > li a {
        display: block;
        text-decoration: none;
        font-size: 14px;
        color: #828282;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 120%;
        height: 45px;
        line-height: 45px;
    }

    .hl_nav_list > li a:hover {
        text-decoration: underline;
    }


.hs_inner {
    height: 737px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-background-size: cover !important;
         -o-background-size: cover !important;
            background-size: cover !important;
}

    .hs_inner:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 300px;
        left: 0;
        bottom: 0;
        z-index: 50;
        background: url("../img/head_slider_decor_bottom.png") no-repeat center bottom;
    }




.hs_bg1 {
    background: url("../img/head_slide_img1.jpg") no-repeat center center;
}

.hs_inner {
    text-align: center;
    padding-top: 242px;
}

.hs_title {
    position: relative;
    z-index: 200;
    display: inline-block;
    vertical-align: top;
}

    .hs_title:before, .hs_title:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        background: #0D7FC7;
        opacity: 0.6;
        -webkit-transform: skewX(-35deg);
           -moz-transform: skewX(-35deg);
            -ms-transform: skewX(-35deg);
             -o-transform: skewX(-35deg);
                transform: skewX(-35deg);
    }

    .hs_title:after {
        left: 37px;
        top: 36px;
    }

.hs_title_inner {
    position: relative;
    text-align: center;
    z-index: 100;
    font-size: 64px;
    color: #FFF;
    line-height: 120%;
    padding-top: 48px;
    padding-bottom: 48px;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
    padding-left: 150px;
    padding-right: 120px;
    display: inline-block;
    vertical-align: top;
}

    .hs_title_inner b {
        font-weight: 800;
        font-style: italic;
    }

    .hs_title_inner span {
        display: block;
        font-size: 36px;
        font-weight: bold;
        line-height: 100%;
        color: #FFF;
        margin-top: 10px;
    }


.head_slider {
    position: relative;
}


.btn_main {
    display: inline-block;
    vertical-align: top;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    background: #0D7FC7;
    padding-left: 53px;
    padding-right: 53px;
    padding-top: 19px;
    padding-bottom: 19px;
    text-decoration: none;
    -webkit-border-radius: 12px;
            border-radius: 12px;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
        -ms-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;
}

    .btn_main:hover {
        background: #25B1EE;
    }

.hs_inner .align_center {
    margin-top: 53px;
    position: relative;
    z-index: 220;
}

.spa {
    padding-top: 76px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

    .spa:before {
        content: "";
        display: block;
        position: absolute;
        width: 417px;
        height: 632px;
        left: 0;
        top: 90px;
        background: url("../img/spa_decor_l.png") no-repeat left top;
    }

    .spa .wmain {
        position: relative;
        z-index: 100;
    }

    .spa_l, .spa_r {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin-right: -3px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .spa_l {
        padding-right: 12px;
    }

    .spa_r {
        padding-left: 30px;
    }


.ssb_img img {
    display: block;
    width: 100%;
}

.ssb_img {
    position: relative;
}

    .ssb_img:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url("../img/spa_slider_decor.png") no-repeat center center;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }


.spa_slider_th {
    margin-top: 34px;
    padding-left: 102px;
    padding-right: 102px;
}

.sst_img {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
        -ms-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;
}

    .sst_img:hover {
        opacity: 1;
    }

    .sst_img img {
        display: block;
        width: 100%;
    }


.spa_r {
    padding-top: 94px;
}

.title_decor {
    font-family: 'Gotham Pro';
    font-size: 36px;
    font-weight: bold;
    line-height: 110%;
    position: relative;
    color: #FFF;
}

    .title_decor span {
        position: relative;
        z-index: 50;
    }

        .title_decor:before {
            content: "";
            display: block;
            position: absolute;
            background: url("../img/title_decor1.png") no-repeat left top;
            width: 100%;
            width: 724px;
            height: 127px;
            left: -18px;
            top: -15px;
        }


    .spa_info {
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        margin-top: 48px;
    }

.spa_preim_list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin-top: 109px;
}

    .spa_preim_list > li {
        display: block;
        float: left;
        width: 25%;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .spl_ico {
        display: table;
        width: 100%;
        height: 84px;
    }

        .spl_ico span {
            display: table-cell;
            width: 100%;
            vertical-align: middle;
        }

        .spl_ico img {
            display: inline-block;
            max-width: 100%;
        }

    .spl_name {
        font-size: 22px;
        color: #0D7FC7;
        font-weight: bold;
        font-family: 'Gotham Pro';
    }

    .spl_info {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 26px;
    }


.ysl {
    margin-top: 94px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

    .ysl:before {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/ysl_bg_right.png") no-repeat left center;
        width: 586px;
        height: 1212px;
        right: 0;
        top: -485px;
    }

.tm {
    text-align: center;
    position: relative;
    z-index: 100;
}

.ysl .wmain {
    position: relative;
    z-index: 100;
}

.tm_inner {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

    .tm_inner:before {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/title_decor2.png") no-repeat left top;
        width: 365px;
        height: 65px;
        left: -36px;
        top: -8px;
    }

    .tm_inner span {
        position: relative;
        z-index: 50;
        font-size: 36px;
        color: #FFF;
        text-transform: uppercase;
        line-height: 120%;
        font-family: "Gotham Pro";
    }

    .tm i {
        display: block;
        font-style: normal;
        max-width: 896px;
        margin: 0 auto;
        margin-top: 42px;
        font-size: 14px;
        line-height: 26px;
        color: #000;
        font-weight: 500;
    }


.ysl_list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 544px;
    margin-top: 92px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

    .ysl_list > li {
        display: block;
        float: left;
        width: 20%;
        position: relative;
        z-index: 20;
        height: 272px;
        padding-top: 43px;
        border: 1px solid #FDF9F3;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }


.yl_name_main {
    position: relative;
}

    .yl_name_main img {
        position: absolute;
        display: block;
        top: 17px;
        left: 15px;
    }

    .ysl_list > li + li + li + li + li + li {
        padding-top: 0;
    }

    .ysl_list > li {
        top: 0;
        background-color: #FFF !important;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-transition: 0.6s;
           -moz-transition: 0.6s;
            -ms-transition: 0.6s;
             -o-transition: 0.6s;
                transition: 0.6s;
    }

    .ysl_list > li:hover {
        z-index: 30;
        top: -8px;
        box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.42);
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
            -ms-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
    }

    .yl_name_inner {
        display: table;
        width: 100%;
        height: 76px;
        padding-left: 78px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

        .yl_name_inner span {
            display: table-cell;
            width: 100%;
            vertical-align: middle;
            font-size: 16px;
            color: #0D7FC7;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 120%;
            font-family: "Gotham Pro";
        }

.yl_inner_list {
    margin-top: 23px;
    padding-left: 77px;
    padding-right: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #000;
}

    .yl_inner_list span {
        display: block;
        position: relative;
        padding-left: 9px;
    }

        .yl_inner_list span:before {
            content: "•";
            font-weight: bold;
            display: block;
            position: absolute;
            left: 0;
            top: -1px;
        }

        .yl_inner_list span + span {
            margin-top: 9px;
        }


.yl_1 {background: url("../img/ysl_list_bg1.png") no-repeat right bottom;}
.yl_2 {background: url("../img/ysl_list_bg2.png") no-repeat right bottom;}
.yl_3 {background: url("../img/ysl_list_bg3.png") no-repeat right bottom;}
.yl_4 {background: url("../img/ysl_list_bg4.png") no-repeat right bottom;}
.yl_5 {background: url("../img/ysl_list_bg5.png") no-repeat right bottom;}
.yl_6 {background: url("../img/ysl_list_bg6.png") no-repeat right bottom;}
.yl_7 {background: url("../img/ysl_list_bg7.png") no-repeat right bottom;}
.yl_8 {background: url("../img/ysl_list_bg8.png") no-repeat right bottom;}
.yl_9 {background: url("../img/ysl_list_bg9.png") no-repeat right bottom;}
.yl_10 {background: url("../img/ysl_list_bg10.png") no-repeat right bottom;}


.what {
    margin-top: 134px;
    position: relative;
}

    .what:before {
        content: "";
        display: block;
        position: absolute;
        width: 932px;
        height: 1212px;
        left: 0;
        top: -510px;
        background: url("../img/what_bg_left.png") no-repeat left top;
    }

    .what:after {
        content: "";
        display: block;
        position: absolute;
        width: 509px;
        height: 894px;
        right: 0;
        top: 310px;
        background: url("../img/what_bg_right.png") no-repeat left top;
    }

.what_list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    position: relative;
    z-index: 50;
    max-width: 1700px;
    margin: 0 auto;
    margin-top: 140px;
}

    .what_list > li {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        margin-right: 10px;
    }

        .what_list > li + li + li + li + li {
            margin-top: 70px;
        }

    .wl_circle {
        width: 322px;
        height: 322px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 5px solid rgba(13, 127, 199, 0.5);
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .wl_inner {
        display: table;
        width: 310px;
        height: 310px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

        .wl_inner span {
            display: table-cell;
            width: 100%;
            vertical-align: middle;
            text-align: center;
            font-size: 14px;
            color: #000;
            font-weight: 500;
            line-height: 20px;
            text-shadow: 1px 1px 0px #fff;
        }

        .wl_inner b {
            display: block;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 24px;
        }


.tm2 .tm_inner:before {
    background: url("../img/title_decor4.png") no-repeat left top;
    width: 657px;
    height: 59px;
    left: -57px;
    top: -6px;
}

.tm3 .tm_inner:before {
    background: url("../img/title_decor5.png") no-repeat left top;
    width: 418px;
    height: 65px;
    left: -27px;
    top: -9px;
}

.tm4 .tm_inner:before {
    background: url("../img/title_decor6.png") no-repeat left top;
    width: 567px;
    height: 83px;
    left: -34px;
    top: -17px;
}

.tm5 .tm_inner:before {
    background: url("../img/title_decor7.png") no-repeat left top;
    width: 686px;
    height: 83px;
    left: -41px;
    top: -17px;
}

.equipment {
    position: relative;
    margin-top: 108px;
    padding-left: 20px;
    padding-right: 20px;
}

    .equipment:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 350px;
        background: url("../img/tech_bg.png") no-repeat left top;
        width: 666px;
        height: 1212px;
    }

.equipment_list {
    display: block;
    position: relative;
    z-index: 50;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -24px;
    margin-top: 76px;
}

    .equipment_list > li {
        width: 33.333333333%;
        padding-left: 24px;
        display: inline-block;
        vertical-align: top;
        margin-right: -3px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

        .equipment_list > li + li + li + li {
            margin-top: 80px;
        }

    .eql_img img {
        display: block;
        width: 100%;
    }

    .eql_info {
        background: #FFF;
    }


.eql_inner {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.eql_info {
    font-size: 16px;
    line-height: 23px;
    color: #000;
    font-weight: bold;
    padding-left: 24px;
    padding-right: 20px;
    padding-top: 32px;
    padding-bottom: 35px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

    .eql_info span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        margin-top: 20px;
    }


.equipment .align_center {
    margin-top: 34px;
}

.equipment .btn_main {
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.doctor {
    position: relative;
    margin-top: 75px;
    padding-left: 20px;
    padding-right: 20px;
}

    .doctor:before {
        content: "";
        display: block;
        position: absolute;
        width: 488px;
        height: 521px;
        background: url("../img/doctor_bg_l.png") no-repeat left top;
        left: 0;
        top: 538px;
    }

    .doctor:after {
        content: "";
        display: block;
        position: absolute;
        width: 489px;
        height: 830px;
        background: url("../img/manager_bg.png") no-repeat left top;
        right: 0;
        bottom: -230px;
    }

.doctor_slider {
    position: relative;
    z-index: 100;
    max-width: 1384px;
    margin: 0 auto;
    margin-top: 23px;
    padding-left: 80px;
    padding-right: 80px;
    -webkit-box-sizing: content-box !important;
       -moz-box-sizing: content-box !important;
            box-sizing: content-box !important;
}

.ds_inner {
    padding-top: 20px;
    margin: 0 auto;
    height: 460px;
    width: 322px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 20;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
        -ms-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

    .ds_inner:hover {
        background: #FFF;
        z-index: 50;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }

    .ds_inner .align_center {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 38px;
        z-index: 20;
        opacity: 0;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
            -ms-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
    }

    .ds_inner:hover .align_center {
        opacity: 1;
    }

    .ds_inner .btn_main {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 60px;
        padding-right: 60px;
    }

.ds_img {
    display: table;
    width: 100%;
    height: 345px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

    .ds_img span {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
    }

    .ds_img img {
        display: inline-block !important;
        max-width: 100%;
        height: 316px;
    }

    .ds_name {
        text-align: center;
        font-size: 16px;
        color: #0D7FC7;
        line-height: 100%;
        font-weight: bold;
        font-family: "Gotham Pro";
        text-shadow: 1px 1px 0px #fff;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
            -ms-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
    }


    .ds_inner:hover .ds_name {
        opacity: 0;
    }

        .ds_name span {
            display: block;
            font-size: 14px;
            line-height: 100%;
            font-weight: 500;
            margin-top: 18px;
            font-family: "Montserrat";
            color: #828282;
        }


.doctor .slick-prev, .doctor .slick-next {
    width: 55px!important;
    height: 55px!important;
    margin-top: -28px!important;
    background: url("../img/doctor_slider_str_l.png") no-repeat left top!important;
    -webkit-transition: 0.2s!important;
       -moz-transition: 0.2s!important;
        -ms-transition: 0.2s!important;
         -o-transition: 0.2s!important;
            transition: 0.2s!important;
}



.doctor .slick-next {
    background: url("../img/doctor_slider_str_r.png") no-repeat left top!important;
}

.doctor .slick-prev:hover, .doctor .slick-next:hover {
    -webkit-transform: scale(1.1)!important;
       -moz-transform: scale(1.1)!important;
        -ms-transform: scale(1.1)!important;
         -o-transform: scale(1.1)!important;
            transform: scale(1.1)!important;
}

.zapis_title {
    text-align: center;
    font-size: 36px;
    line-height: 51px;
    color: #0D7FC7;
    font-weight: bold;
    font-family: "Gotham Pro";
    margin-top: 54px;
    position: relative;
    z-index: 50;
    text-shadow: 2px 2px 0px #fff;
}

.manager {
    position: relative;
    z-index: 50;
    margin-top: 113px;
}

.manager_plashka {
    position: relative;
    max-width: 1128px;
    margin: 0 auto;
    margin-top: 96px;
    background: #FFF;
    padding: 57px 118px 75px 38px;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

    .manager_plashka:before {
        content: "";
        display: block;
        position: absolute;
        width: 303px;
        height: 268px;
        background: url("../img/manager_decor.png") no-repeat left top;
        right: -122px;
        top: -68px;
    }

.mp_img {
    position: absolute;
    left: 38px;
    top: 57px;
}

    .mp_img img {
        display: block;
        width: 100%;
    }

    .mp_content {
        margin-left: 308px;
        padding-top: 76px;
    }

    .mp_citata {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        font-style: italic;
    }

    .mp_cont {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        font-style: italic;
        line-height: 24px;
        margin-top: 26px;
    }

    .mp_cont .mp_phone {
        font-weight: bold;
        color: #000;
        text-decoration: none;
    }

    .mp_cont a {
        color: #0D7FC7;
    }

    .mp_help {
        text-align: center;
        font-size: 24px;
        color: #0D7FC7;
        line-height: 120%;
        font-weight: bold;
        font-family: "Gotham Pro";
        margin-top: 28px;
    }

    .mp_autor {
        text-align: right;
        margin-top: 69px;
        font-size: 18px;
        color: #0D7FC7;
        font-weight: bold;
        font-family: "Gotham Pro";
        line-height: 100%;
    }

        .mp_autor span {
            display: block;
            font-size: 14px;
            color: #828282;
            font-weight: 500;
            font-family: "Montserrat";
            margin-top: 15px;
        }


.otz {
    margin-top: 185px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
}

    .otz:before {
        content: "";
        display: block;
        position: absolute;
        width: 806px;
        height: 1126px;
        background: url("../img/otz_bg.png") no-repeat left top;
        left: 0;
        top: -220px;
    }

.otz_slider {
    margin-top: 119px;
}

.os_inner {
    position: relative;
    min-height: 208px;
    max-width: 1128px;
    margin: 0 auto;
}

    .os_ava {
        position: absolute;
        left: 0;
        top: 0;
        width: 208px;
    }

        .os_ava img {
            display: block;
            width: 100%;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
        }


    .os_content {
        padding-left: 230px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding-top: 15px;
    }

    .os_content span {
        display: block;
        margin-top: 21px;
        font-size: 16px;
        font-weight: bold;
        line-height: 120%;
    }

        .os_content span i {
            display: block;
            font-style: italic;
            font-weight: 500;
            font-size: 14px;
            margin-top: 3px;
        }


.os_content p {
    display: block;
    margin: 0;
}

    .os_content p + p {
        margin-top: 12px;
    }

.otz_slider .slick-prev, .otz_slider .slick-next {
    width: 55px!important;
    height: 55px!important;
    margin-top: -28px!important;
    background: url("../img/doctor_slider_str_l.png") no-repeat left top!important;
    -webkit-transition: 0.2s!important;
       -moz-transition: 0.2s!important;
        -ms-transition: 0.2s!important;
         -o-transition: 0.2s!important;
            transition: 0.2s!important;
}

.otz_slider .slick-prev {
    left: -92px;
}

.otz_slider .slick-next {
    background: url("../img/doctor_slider_str_r.png") no-repeat left top!important;
    right: -92px;
}

.otz_slider .slick-prev:hover, .otz_slider .slick-next:hover {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}

.licens {
    position: relative;
    overflow: visible;
    margin-top: 130px;
    padding-left: 20px;
    padding-right: 20px;
}

    .licens .wmain {
        position: relative;
        z-index: 100;
    }

.licens:before {
    content: "";
    display: block;
    position: absolute;
    width: 230px;
    height: 688px;
    background: url("../img/zapis_bg_l.png") no-repeat left top;
    left: 0;
    top: 340px;
}

.licens_list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin-left: -22px;
    margin-top: 90px;
}

    .licens_list > li {
        display: block;
        float: left;
        width: 25%;
        padding-left: 22px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .licens_list > li a {
        display: block;
        text-decoration: none;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
            -ms-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
    }

        .licens_list > li a:hover {
            opacity: 0.8;
        }

    .licens_list > li img {
        display: block;
        width: 100%;
    }


.priem {
    margin-top: 79px;
    padding-bottom: 75px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.priem .wmain {
    
}

.priem_img {
    position: relative;
}

    .priem_img img {
        display: block;
        width: 100%;
    }

    .priem_img:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url("../img/priem_img_decor.png") no-repeat center center;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }


.spa_list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 65px;
}

    .spa_list li {
        display: block;
        position: relative;
        padding-left: 9px;
    }

        .spa_list li + li {
            margin-top: 16px;
        }

        .spa_list li:before {
            content: "•";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            font-weight: bold;
        }


.priem .form_style {
    display: block;
    margin-top: 42px;
}

.priem .form_style .btn_main {
    margin-top: 48px;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.in_2 {
    overflow: hidden;
    margin-left: -77px;
}

    .in_2 > span {
        display: block;
        float: left;
        width: 50%;
        padding-left: 77px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .form_style input[type="text"] {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #0D7FC7;
        font-size: 14px;
        font-weight: 500;
        padding-left: 28px;
        color: #86BFE3;
        height: 33px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }


.in_name {
    background: url("../img/in_name.png") no-repeat left center;
}

.in_phone {
    background: url("../img/in_phone.png") no-repeat left center;
}

.in_data {
    padding-left: 39px !important;
    background: url("../img/in_data.png") no-repeat 10px center;
}

.form_personal {
    display: block;
    overflow: hidden;
    cursor: pointer;
    margin-top: 30px;
    min-height: 18px;
}

.form_personal .jq-checkbox {
    float: left;
}

.form_personal span {
    display: block;
    margin-left: 28px;
    font-size: 14px;
    color: #828282;
    line-height: 120%;
}

    .form_personal span a {
        color: #333;
    }

.footer {
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    position: relative;
    background: url("../img/footer_bg.jpg") no-repeat center top;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

    .footer .wmain {
        overflow: hidden;
    }


.scoll_top {
    display: block;
    text-decoration: none;
    position: absolute;
    background: url("../img/scroll_str.png") no-repeat center center;
    width: 70px;
    height: 70px;
    right: 61px;
    bottom: 40px;
    z-index: 200;
}

.f_left {
    float: left;
    width: 343px;
    height: 484px;
    display: table;
}

    .f_left_inner {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
    }


.f_map {
    margin-left: 343px;
    height: 484px;
}


.f_logo {
    text-align: center;
}

.f_cont {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 37px;
}

    .f_cont li {
        display: block;
        text-align: center;
    }

        .f_cont li + li {
            margin-top: 26px;
        }

        .f_cont li span {
            display: inline-block;
            position: relative;
            padding-left: 23px;
            font-size: 14px;
            line-height: 120%;
            color: #FFF;
        }

            .f_cont li span b {
                font-weight: bold;
            }

        .f_cont li span img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }

        .f_phone {
            color: #FFF;
            text-decoration: none;
        }

        .f_cont li span .f_phone b {
            font-size: 18px;
        }


.f_soc {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 33px;
}

    .f_soc li {
        display: inline-block;
        vertical-align: top;
        margin-left: 4px;
        margin-right: 3px;
    }

    .f_soc li a {
        display: block;
        text-decoration: none;
        -webkit-transition: 0.2s;
           -moz-transition: 0.2s;
            -ms-transition: 0.2s;
             -o-transition: 0.2s;
                transition: 0.2s;
    }

        .f_soc li a:hover {
            opacity: 0.7;
        }

    .f_soc img {
        display: block;
    }


#map {
    height: 484px;
}

.f_line {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background: #393D46;
    padding-top: 17px;
    padding-bottom: 23px;
    font-size: 14px;
    color: #C4C4C4;
    line-height: 28px;
}

    .f_line a {
        color: #0D7FC7;
    }


.pu_rgba {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 900000000;
    background: rgba(0,0,0,0.25);
    overflow: hidden;
    -ms-overflow-y: scroll;
        overflow-y: scroll;
}

.pu_table {
    display: table;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.pu_cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.pu_inner {
    position: relative;
    background: #FFF;
    max-width: 896px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 81px;
    padding-bottom: 57px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.closeform {
    display: block;
    text-decoration: none;
    position: absolute;
    background: url("../img/closeform.png") no-repeat center center;
    width: 20px;
    height: 20px;
    right: 29px;
    top: 30px;
    -webkit-transition: 0.2s;
       -moz-transition: 0.2s;
        -ms-transition: 0.2s;
         -o-transition: 0.2s;
            transition: 0.2s;
}

    .closeform:hover {
        opacity: 0.7;
    }


.pu_zapis_main .form_style {
    display: block;
    margin-top: 76px;
}

.pu_zapis {
    overflow: hidden;
}

.pu_zapis .form_personal {
    margin-top: 59px;
}

.pu_zapis .btn_main {
    margin-top: 16px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pu_zapis .in_2 input[type="text"] + input[type="text"], .pu_zapis .in_2 .jq-selectbox + input[type="text"] {
    margin-top: 18px;
}

.pu_zapis .in_2 .sel_doctor {
    margin-top: -2px;
}

.sel_doctor .jq-selectbox__select {
    background: url("../img/in_doctor.png") no-repeat 12px center;
}

.pcs_inner {
    position: relative;
}

.pcs_list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

    .pcs_list > li {
        display: block;
    }

.pu_calendar_slider {
    margin-top: 11px;
    padding-left: 16px;
    height: 224px;
    overflow: hidden;
}

.pcs_list_name {
    font-size: 12px;
    color: #0D7FC7;
    font-weight: 600;
    line-height: 100%;
    height: 21px;
}

.pcs_list_data {
    font-size: 10px;
    color: #0D7FC7;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}

.pcs_list_time {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin-top: 8px;
}

    .pcs_list_time > li {
        display: block;
        cursor: pointer;
        font-size: 10px;
        color: #0D7FC7;
        font-weight: 500;
        line-height: 120%;
    }

        .pcs_list_time > li:hover {
            color: #86BFE3;
        }

        .pcs_list_time > li + li {
            margin-top: 5px;
        }

        .pcs_diss {
            color: #C4C4C4 !important;
        }

.pu_calendar_slider .slick-prev, .pu_calendar_slider .slick-next {
    top: 0;
    margin-top: 0;
    width: 9px;
    height: 13px;
    background: url("../img/calendar_str_l.png") no-repeat left top;
}

.pu_calendar_slider .slick-next {
    background: url("../img/calendar_str_r.png") no-repeat left top;
}

.pu_good {
    max-width: 668px;
}

.pu_title {
    text-align: center;
    font-size: 22px;
    color: #0D7FC7;
    font-family: "Gotham Pro";
    font-weight: bold;
    line-height: 120%;
}

    .pu_title span {
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: #000;
        line-height: 120%;
        font-family: "Montserrat";
        margin-top: 18px;
    }


.pu_good .align_center {
    margin-top: 53px;
}

.pu_good .btn_main {
    padding-top: 15px;
    padding-bottom: 15px;
}

.hamburger {
    display: none !important;
}


/*banner 2,3*/

.hs_bg2 {
    background: url("../img/head_slide_img2.jpg") no-repeat left center;
}

.hs_bg3 {
    background: url("../img/head_slide_img3.jpg") no-repeat left center;
}

/*.hs_bg4 {
    background: url("../img/head_slide_img2_4.png") no-repeat left center;
}*/

.hs_left {
    max-width: 918px;
    position: relative;
    z-index: 120;
}

.hsl_table {
    display: table;
    width: 100%;
    height: 737px;
    text-align: center;
}

.hs_bg2, .hs_bg3 {
    padding-top: 0 !important;
}


.hsl_cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.hsl_title {
    font-size: 64px;
    font-weight: 800;
    color: #FFF;
    text-transform: uppercase;
    line-height: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.hsl_data {
    text-align: center;
    font-size: 36px;
    color: #FFF;
    font-style: italic;
    line-height: 100%;
    margin-top: 32px;
}

.hsl_time {
    font-size: 64px;
    color: #FF584D;
    font-style: italic;
    font-weight: 800;
    line-height: 100%;
    margin-top: 18px;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

    .hsl_time span {
        padding-left: 56px;
        background: url("../img/head_banner_time_ico.png") no-repeat left 17px;
    }


.hsl_info {
    font-size: 44px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 100%;
    font-weight: 800;
    margin-top: 25px;
}

.hsl_price {
    font-size: 48px;
    color: #FFF;
    line-height: 48px;
    font-weight: 500;
    font-style: italic;
    margin-top: 20px;
}

    .hsl_price i {
        font-style: normal;
        position: relative;
        display: inline-block;
    }

        .hsl_price i:before {
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 4px;
            background: #FFF;
            left: -4px;
            top: 27px;
        }

.hsl_price_old {
    font-size: 48px;
    color: #FFF;
    font-weight: 800;
    line-height: 48px;
    margin-top: 6px;
}

    .hsl_price_old span {
        display: inline-block;
        position: relative;
        padding-left: 3px;
        padding-right: 3px;
    }

        .hsl_price_old span:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 20;
            width: 100%;
            height: 4px;
            background: #FF584D;
            left: 0;
            top: 34px;
            -webkit-transform-origin: left top;
               -moz-transform-origin: left top;
                -ms-transform-origin: left top;
                 -o-transform-origin: left top;
                    transform-origin: left top;
            -webkit-transform: rotate(-5deg);
               -moz-transform: rotate(-5deg);
                -ms-transform: rotate(-5deg);
                 -o-transform: rotate(-5deg);
                    transform: rotate(-5deg);
        }

    .hsl_price_old i {
        display: inline-block;
        position: relative;
        font-style: normal;
    }

        .hsl_price_old i:before {
            content: "";
            display: block;
            position: absolute;
            width: 24px;
            height: 7px;
            background: #FFF;
            left: -4px;
            top: 25px;
        }


.head_slider {
    margin-top: 137px;
}


.hsl_about {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    color: #FFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 15px;
}

.hs_bg3 .hsl_title {
    font-size: 72px;
}

.hs_bg3 .hsl_info {
    font-size: 48px;
    margin-top: 31px;
}


/*@media*/
@media screen and (max-width: 1640px) {
    .hs_title_inner {
        font-size: 58px;
    }
}

@media screen and (max-width: 1600px) {
    .hs_title_inner {
        padding-left: 80px;
        padding-right: 80px;
    }

    .hs_title_inner{
        font-size: 50px;
    }

    .hs_title_inner span {
        font-size: 34px;
        margin-top: 20px;
    }

    .spa:before {
        display: none;
    }
}

@media screen and (max-width: 1480px) {
    .hl_nav_list > li {
        margin-left: 20px;
        margin-right: 20px;
    }

    .what:after {
        background-position: right center;
        -webkit-background-size: 240px;
             -o-background-size: 240px;
                background-size: 240px;
    }

    .licens:before {
        top: 200px;
        background-position: left center;
        -webkit-background-size: 100px;
             -o-background-size: 100px;
                background-size: 100px;
    }
}

@media screen and (max-width: 1400px) {
    .what_list {
        max-width: 1070px;
    }

    .what_list > li + li + li + li {
        margin-top: 40px !important;
    }
}

@media screen and (max-width: 1280px) {
    .hs_title_inner {
        font-size: 38px;
    }

    .hs_title_inner span {
        font-size: 26px;
        margin-top: 15px;
    }

    .hs_title:after {
        left: 20px;
        top: 20px;
    }

    .spa_slider_th {
        padding-left: 22px;
        padding-right: 22px;
    }

    .title_decor span {
        text-shadow: 1px 1px 0px #000;
    }

    .ysl_list > li {
        width: 25%;
    }

    .ysl_list {
        height: 816px;
    }

    .ysl_list > li + li + li + li + li {
        padding-top: 0;
    }
}

@media screen and (max-width: 1200px) {
    .ds_inner {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .doctor_slider {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 1120px) {
    .hl_nav_list > li {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 1100px) {
    .ysl_list > li {
        width: 33.33333333333%;
    }

    .ysl_list {
        height: 1088px;
    }


    .ysl_list > li + li + li + li {
        padding-top: 0;
    }
}

@media screen and (max-width: 1060px) {
    .wl_circle {
        width: 280px;
        height: 280px;
    }

    .wl_inner {
        width: 270px;
        height: 270px;
    }

    .what:after {
        display: none;
    }

    .what_list {
        margin-top: 70px;
    }

    .what {
        margin-top: 84px;
    }

    .equipment_list > li {
        width: 50%;
    }

    .equipment_list > li + li + li {
        margin-top: 25px !important;
    }
}

@media screen and (max-width: 1024px) {
    .hs_title_inner br {
        display: none;
    }

    .spa_l, .spa_r {
        display: block;
        width: auto;
        padding: 0;
    }

    .spa_r {
        margin-top: 60px;
    }

    .title_decor span {
        display: inline-block;
        max-width: 660px;
    }
}

@media screen and (max-width: 960px) {
    .zapis_title br {
        display: none;
    }
}

@media screen and (max-width: 940px) {
    .hl_nav_list {
        display: none;
    }

    .hamburger {
        display: block !important;
    }

    .hl_nav {
        display: none;
    }

    .hs_inner {
        height: auto;
        padding-top: 150px;
        padding-bottom: 130px;
    }

    .what_list {
        max-width: 700px;
    }

    body .what_list > li + li + li {
        margin-top: 30px !important;
    }
}

@media screen and (max-width: 880px) {
    .hs_title_inner {
        font-size: 30px;
    }

    .hs_title_inner span {
        font-size: 20px;
        line-height: 120%;
    }
}

@media screen and (max-width: 860px) {
    .spa_preim_list{
        margin-top: 30px;
    }

    .spa_preim_list {
        text-align: center;
    }

    .spa_preim_list > li {
        display: inline-block;
        vertical-align: top;
        float: none;
        width: 50%;
        margin-right: -3px;
    }

    .spa_preim_list > li + li + li {
        margin-top: 30px;
    }

    .otz {
        padding-left: 20px;
        padding-right: 20px;
    }

    .otz_slider {
        padding-left: 65px;
        padding-right: 65px;
    }

    .otz_slider .slick-prev {
        left: 0;
    }

    .otz_slider .slick-next {
        right: 0;
    }
}

@media screen and (max-width: 840px) {
    .tm_inner span {
        font-size: 28px;
    }

    .tm5 .tm_inner:before {
        -webkit-background-size: 520px;
             -o-background-size: 520px;
                background-size: 520px;
    }

    .mp_img {
        width: 160px;
        left: 18px;
        top: 17px;
    }

    .mp_content {
        margin-left: 160px;
    }

    .mp_content {
        padding-top: 0;
    }

    .manager_plashka:before {
        top: -118px;
        -webkit-background-size: 160px;
             -o-background-size: 160px;
                background-size: 160px;
        background-position: center center;
    }

    .manager_plashka {
        padding-right: 58px;
        padding-bottom: 45px;
    }

    .mp_autor {
        margin-top: 36px;
    }

    .mp_autor span {
        margin-top: 10px;
    }

    .mp_help {
        font-size: 20px;
        margin-top: 18px;
    }

    .tm4 .tm_inner:before {
        -webkit-background-size: 460px;
             -o-background-size: 460px;
                background-size: 460px;
    }

    .tm_inner:before {
        top: -10px;
        -webkit-background-size: 308px;
             -o-background-size: 308px;
                background-size: 308px;
    }

    .tm2 .tm_inner:before {
        -webkit-background-size: 520px;
             -o-background-size: 520px;
                background-size: 520px;
    }

    .tm3 .tm_inner:before {
        -webkit-background-size: 344px;
             -o-background-size: 344px;
                background-size: 344px;
    }
}

@media screen and (max-width: 820px) {
    .yl_name_inner span {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 780px) {
    .pu_zapis .in_2 > span {
        padding-left: 30px;
    }

    .pu_zapis .in_2 {
        margin-left: -30px;
    }
}

@media screen and (max-width: 760px) {
    .ysl_list > li + li + li {
        padding-top: 0;
    }

    .ysl_list > li {
        width: 50%;
    }

    .ysl_list {
        height: auto;
        overflow: hidden;
    }

    .ysl_list > li {
        top: 0 !important;
        -webkit-box-shadow: 0px 0px 0px #fff !important;
                box-shadow: 0px 0px 0px #fff !important;
    }

    .ysl_list > li {
        height: 222px;
    }

    .yl_inner_list {
        margin-top: 8px;
    }

    .yl_inner_list span + span {
        margin-top: 3px;
    }
}

@media screen and (max-width: 740px) {
    .f_left {
        float: none;
        width: auto;
        display: block;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .f_left_inner {
        display: block;
    }

    .f_map {
        margin-left: 0;
        height: 260px;
    }

    .pu_zapis .in_2 > span {
        float: none;
        width: auto;
        padding-left: 0;
    }

        .pu_zapis .in_2 > span + span {
            margin-top: 20px;
        }

    .pu_zapis .in_2 {
        margin-left: 0;
    }

    .pu_calendar_slider {
        width: 400px;
    }
}

@media screen and (max-width: 680px) {
    .hs_title_inner {
        font-size: 22px;
        padding-top: 35px;
        padding-bottom: 20px;
    }

    .hs_title_inner span {
        font-size: 18px;
    }

    .hs_inner .align_center {
        margin-top: 40px;
    }

    .hs_inner {
        padding-left: 40px;
        padding-right: 60px;
    }

    .hs_title:before, .hs_title:after {
        -webkit-transform: skewX(-18deg);
           -moz-transform: skewX(-18deg);
            -ms-transform: skewX(-18deg);
             -o-transform: skewX(-18deg);
                transform: skewX(-18deg);
    }

    .otz {
        margin-top: 75px;
    }

    .os_ava {
        width: 120px;
    }

    .os_content {
        padding-left: 140px;
        padding-top: 10px;
    }

    .otz_slider {
        margin-top: 55px;
    }
}

@media screen and (max-width: 620px) {
    .tm_inner span {
        font-size: 24px;
    }

    .tm_inner:before {
        -webkit-background-size: 270px;
             -o-background-size: 270px;
                background-size: 270px;
    }

    .tm2 .tm_inner:before{
        -webkit-background-size: 480px;
             -o-background-size: 480px;
                background-size: 480px;
    }

    .tm3 .tm_inner:before {
        -webkit-background-size: 300px;
             -o-background-size: 300px;
                background-size: 300px;
    }

    .tm4 .tm_inner:before {
        -webkit-background-size: 400px;
             -o-background-size: 400px;
                background-size: 400px;
    }

    .what_list > li {
        display: block;
        margin: 0 auto;
    }

    body .what_list > li + li {
        margin-top: 30px !important;
    }

    .wl_circle {
        margin: 0 auto;
    }

    .zapis_title {
        font-size: 28px;
        line-height: 120%;
    }

    .doctor:before {
        top: 438px;
        background-position: left center;
        -webkit-background-size: 300px;
             -o-background-size: 300px;
                background-size: 300px;
    }

    .zapis_title {
        margin-top: 34px;
    }

    .manager {
        margin-top: 60px;
    }

    .tm5 .tm_inner:before {
        -webkit-background-size: 480px;
             -o-background-size: 480px;
                background-size: 480px;
    }
}

@media screen and (max-width: 580px) {
    .in_2 > span {
        padding-left: 20px;
    }

    .in_2 {
        margin-left: -20px;
    }

    .licens:before {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .hs_inner {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .slick-dots {
        bottom: 20px !important;
    }

    .equipment_list > li {
        padding-left: 0;
        display: block;
        width: auto;
        float: none;
    }

        .equipment_list > li + li {
            margin-top: 25px !important;
        }

    .eql_info {
        height: auto !important;
    }

    .equipment_list {
        margin-left: 0;
    }

    .equipment_list {
        margin-top: 35px;
    }

    .equipment {
        margin-top: 48px;
    }

    .mp_img {
        width: 100px;
    }

    .mp_content {
        margin-left: 90px;
    }

    .licens {
        margin-top: 60px;
    }

    .licens_list {
        margin-top: 40px;
    }

    .licens_list > li {
        padding-left: 10px;
    }

    .licens_list {
        margin-left: -10px;
    }
}

@media screen and (max-width: 520px) {
    .hs_title_inner {
        font-size: 20px;
    }

    .hs_title_inner span {
        font-size: 16px;
    }

    .hs_title_inner {
        padding-left: 50px;
        padding-right: 50px;
    }

    .spa {
        padding-top: 30px;
    }

    .title_decor {
        font-size: 28px;
        padding-top: 12px;
        padding-left: 20px;
    }

    .ysl_list > li {
        float: none;
        width: auto;
    }

    .ysl_list > li {
        padding-top: 0 !important;
        height: auto;
        padding-bottom: 30px;
    }

    .ysl_list {
        margin-top: 30px;
    }

    .ysl {
        margin-top: 44px;
    }

    .tm i {
        margin-top: 24px;
        line-height: 24px;
    }

    .doctor_slider {
        margin-top: 0;
    }

    .os_ava {
        position: relative;
        width: auto;
        max-width: 200px;
        margin: 0 auto;
    }

    .os_content {
        padding: 0;
        margin-top: 20px;
    }

    .pu_calendar_slider {
        width: 320px;
    }

    .pu_zapis_main .form_style {
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    .pu_good .align_center {
        margin-top: 23px;
    }
}

@media screen and (max-width: 460px) {
    .ds_img {
        width: 180px;
        height: 240px;
        margin: 0 auto;
    }

    .ds_inner {
        height: 380px;
    }

    .ds_name span {
        margin-top: 10px;
    }

    .doctor_slider {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
    }

    .doctor_slider .slick-dots {
        bottom: 20px !important;
    }

    .doctor_slider .slick-dots li button {
        width: 20px;
        height: 20px;
        border-color: #EEE;
    }

    .doctor_slider .slick-dots li {
        margin-left: 6px;
        margin-right: 6px;
    }

    .ds_inner:hover .ds_name span {
        opacity: 0;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
            -ms-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
    }

    .mp_img {
        position: relative;
        max-width: 400px;
        width: auto;
        margin: 0 auto;
        left: 0;
        top: 0;
    }

    .manager_plashka {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }

    .manager_plashka:before {
        z-index: 50;
    }

    .mp_content {
        margin-left: 0;
    }

    .licens_list > li {
        display: inline-block;
        vertical-align: top;
        float: none;
        width: 50%;
        margin-right: -3px;
    }

        .licens_list > li + li + li {
            margin-top: 15px;
        }

    .ds_inner .align_center {
        bottom: 54px;
    }
}

@media screen and (max-width: 420px) {
    .hs_title_inner {
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .spa_info {
        line-height: 24px;
        margin-top: 55px;
    }

    .title_decor {
        font-size: 22px;
        line-height: 28px;
    }

    .spa_preim_list > li {
        display: block;
        width: auto;
        padding-left: 0;
        padding-right: 0;
        margin: 0 !important;
    }

        .spa_preim_list > li + li {
            margin-top: 20px !important;
        }


    .tm_inner span {
        font-size: 18px;
    }

    .tm2 .tm_inner:before {
        -webkit-background-size: 380px;
             -o-background-size: 380px;
                background-size: 380px;
    }

    .tm_inner:before {
        -webkit-background-size: 223px;
             -o-background-size: 223px;
                background-size: 223px;
    }

    .tm3 .tm_inner:before {
        -webkit-background-size: 250px;
             -o-background-size: 250px;
                background-size: 250px;
    }

    .tm4 .tm_inner:before {
        top: -12px;
        -webkit-background-size: 310px;
             -o-background-size: 310px;
                background-size: 310px;
    }

    .tm5 .tm_inner:before {
        top: -13px;
        -webkit-background-size: 380px;
             -o-background-size: 380px;
                background-size: 380px;
    }

    .priem .in_2 > span {
        padding-left: 0;
        float: none;
        width: auto;
    }

        .priem .in_2 > span + span {
            margin-top: 15px;
        }

    .priem .in_2 {
        margin-left: 0;
    }

    .priem .form_style .btn_main {
        margin-top: 22px;
    }

    .scoll_top {
        display: none;
    }

    .pu_calendar_slider {
        height: auto;
    }

    .pu_calendar_slider {
        width: 220px;
    }

    .pu_zapis .form_personal {
        margin-top: 15px;
    }
}

@media screen and (max-width: 380px) {
    .hs_inner {
        padding-left: 30px;
        padding-right: 50px;
    }

    .what {
        margin-top: 55px;
    }

    .what_list {
        margin-top: 40px;
    }
}

@media screen and (max-width: 360px) {
    .spa_slider_th {
        display: none !important;
    }

    .spa_slider_big{
        padding-left: 15px;
        padding-right: 15px;
    }

    .spa_slider_big .slick-prev {
        left: -10px;
    }

    .spa_slider_big .slick-next {
        right: -10px;
    }

    .mp_citata {
        line-height: 20px;
    }

    .mp_cont {
        line-height: 20px;
        margin-top: 14px;
    }

    .mp_help {
        font-size: 18px;
    }

    .mp_autor {
        font-size: 16px;
    }

    .manager_plashka {
        margin-top: 66px;
    }

    .tm_inner span {
        font-size: 16px;
    }

    .tm5 .tm_inner:before {
        -webkit-background-size: 340px;
             -o-background-size: 340px;
                background-size: 340px;
    }

    .tm4 .tm_inner:before {
        -webkit-background-size: 290px;
             -o-background-size: 290px;
                background-size: 290px;
    }

    .tm3 .tm_inner:before {
        -webkit-background-size: 226px;
             -o-background-size: 226px;
                background-size: 226px;
    }

    .tm2 .tm_inner:before {
        left: -48px;
        -webkit-background-size: 330px;
             -o-background-size: 330px;
                background-size: 330px;
    }

    .tm_inner:before {
        -webkit-background-size: 193px;
             -o-background-size: 193px;
                background-size: 193px;
    }

    .title_decor:before {
        top: 2px;
        -webkit-background-size: 480px;
             -o-background-size: 480px;
                background-size: 480px;
    }

    .spa_info {
        margin-top: 36px;
    }

    .doctor {
        margin-top: 45px;
    }

    .equipment .btn_main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .otz_slider {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;
    }

    .otz_slider .slick-dots {
        bottom: 20px !important;
    }

    .otz_slider .slick-dots li button {
        width: 20px;
        height: 20px;
        border-color: #EEE;
    }

    .otz_slider .slick-dots li {
        margin-left: 6px;
        margin-right: 6px;
    }

    .spa_list {
        margin-top: 33px;
    }

    .priem {
        padding-bottom: 35px;
    }

    .f_cont {
        margin-top: 13px;
    }

    .f_cont li + li {
        margin-top: 13px;
    }

    .f_soc {
        margin-top: 20px;
    }

    .f_line {
        line-height: 20px;
    }

    .pu_title {
        font-size: 20px;
    }

    .pu_good {
        padding-top: 60px;
        padding-bottom: 36px;
    }
}


/*баннер*/
@media screen and (max-width: 1520px) {
    .hs_left {
        max-width: 700px;
    }

    .hsl_title {
        font-size: 54px;
    }

    .hsl_data {
        font-size: 30px;
    }

    .hsl_time {
        font-size: 44px;
    }

    .hsl_time span {
        background-position: left 80%;
        -webkit-background-size: 40px;
             -o-background-size: 40px;
                background-size: 40px;
    }

    .hsl_info {
        font-size: 32px;
    }

    .hsl_price {
        font-size: 36px;
    }

    .hsl_price i:before {
        content: "";
        display: block;
        position: absolute;
        width: 12px;
        height: 4px;
        background: #FFF;
        left: -3px;
        top: 27px;
    }

    .hsl_price_old {
        font-size: 36px;
        margin-top: 0;
    }

    .hsl_price_old span:before {
        height: 3px;
        top: 33px;
    }

    .hsl_price_old i:before {
        content: "";
        display: block;
        position: absolute;
        width: 19px;
        height: 5px;
        background: #FFF;
        left: -2px;
        top: 24px;
    }

    .hs_bg2, .hs_bg3 {
        background-position: -140px center;
    }
}

@media screen and (max-width: 1280px) {
    .hs_bg2 {
        background: url("../img/head_slide_img2_mobile.jpg") no-repeat center center;
    }

    .hs_bg3 {
        background: url("../img/head_slide_img3_mobile.jpg") no-repeat center center;
    }

    .hs_bg4 {
        background: url("../img/head_slide_img2_4.jpg") no-repeat center center;
    }

    .hsl_inner {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .hsl_inner:before, .hsl_inner:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        background: #0D7FC7;
        opacity: 0.3;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

    .hsl_inner:after {
        left: 20px;
        top: 20px;
    }

    .hsl_inner2 {
        position: relative;
        z-index: 50;
    }

    .hs_left {
        max-width: 100%;
    }
}

@media screen and (max-width: 940px) {
    .hs_inner {
        height: 700px;
    }

    .hsl_table {
        height: 730px;
    }

    .hsl_title {
        font-size: 36px;
    }

    .hsl_data {
        font-size: 24px;
        margin-top: 20px;
    }

    .hsl_time {
        font-size: 32px;
    }

        .hsl_time span {
            padding-left: 40px;
            -webkit-background-size: 30px;
                 -o-background-size: 30px;
                    background-size: 30px;
        }

    .hsl_info {
        font-size: 26px;
    }

    .hsl_price {
        font-size: 30px;
        margin-top: 15px;
    }

    .hsl_price_old {
        font-size: 30px;
        line-height: 30px;
    }

    .hsl_price i:before {
        content: "";
        display: block;
        position: absolute;
        width: 7px;
        height: 3px;
        background: #FFF;
        left: -2px;
        top: 24px;
    }

    .hsl_price_old span:before {
        height: 2px;
        top: 23px;
    }

    .hsl_cell {
        padding-bottom: 50px;
    }

    .hs_bg3 .hsl_title {
        font-size: 52px;
    }

    .hs_bg3 .hsl_info {
        font-size: 36px;
    }

    .hsl_about {
        font-size: 26px;
        line-height: 30px;
    }
}

@media screen and (max-width: 580px) {
    .hsl_title {
        font-size: 24px;
    }

    .hsl_data {
        font-size: 20px;
    }

    .hsl_time {
        font-size: 24px;
    }

        .hsl_time span {
            padding-left: 32px;
            -webkit-background-size: 24px;
                 -o-background-size: 24px;
                    background-size: 24px;
        }

    .hsl_info {
        font-size: 22px;
    }

    .hsl_price {
        font-size: 26px;
    }

    .hsl_price_old {
        font-size: 25px;
        margin-top: -7px;
    }

    .hsl_inner:before, .hsl_inner:after {
        opacity: 0.6;
            -webkit-transform: skewX(-13deg);
    -moz-transform: skewX(-13deg);
    -ms-transform: skewX(-13deg);
    -o-transform: skewX(-13deg);
    transform: skewX(-13deg);
    }

    .hs_bg3 .hsl_title {
        font-size: 36px;
    }

    .hs_bg3 .hsl_info {
        font-size: 32px;
    }

    .hsl_about {
        font-size: 22px;
    }

    .hsl_inner {
        padding-left: 13px;
    }

    .hsl_price_old i:before {
        content: "";
        display: block;
        position: absolute;
        width: 12px;
        height: 4px;
        background: #FFF;
        left: -3px;
        top: 15px;
    }

    .hs_inner, .hsl_table {
        height: 630px;
    }
}

@media screen and (max-width: 460px) {
    .hs_bg3 .hsl_title {
        font-size: 26px;
    }

    .hsl_inner {
        padding-left: 36px;
    }

    .hsl_title {
        font-size: 20px;
    }

    .hsl_inner:before, .hsl_inner:after {
        -webkit-transform: skewX(-6deg);
        -moz-transform: skewX(-6deg);
        -ms-transform: skewX(-6deg);
        -o-transform: skewX(-6deg);
        transform: skewX(-6deg);
    }

    .hsl_title br {
        display: none;
    }

    .hsl_time {
        font-size: 20px;
    }

        .hsl_time span {
            padding-left: 25px;
            -webkit-background-size: 20px;
                 -o-background-size: 20px;
                    background-size: 20px;
        }


    .hsl_info {
        font-size: 18px;
        margin-top: 15px;
    }

    .hs_bg3 .hsl_info {
        font-size: 24px;
    }

    .hsl_about {
        font-size: 18px;
        line-height: 24px;
    }

    .hsl_aboutbr {
        display: none;
    }
} 

.has-error {
    border-color: red !important;
    color: red !important;
}

.pu_3d_active{
    position: fixed!important;
    top: 60px;
    left: 0;
    right: 0;
    display: block!important;
    margin: auto;
    text-align: center;
}

.main_otz_inner {
    max-width: 630px;
    margin-bottom: 30px;
}

.nav-block li {
    /*padding: 10px 30px !important;*/
}

.adress{
    padding: 0px 70px 0px 70px;
    color:  white;
    text-align: left;
    font-size: 13px;
}

.adress p{
    font-family: "Gotham Pro";
    line-height: 1.0;
}
.main_phone{
    color: #0d7fc7 ;
    margin-left: 12% !important;
    font-size: 20px !important;
}


#rgba_first-consultation .pu_inner {max-width: 710px;     padding-bottom: 40px;}
#rgba_first-consultation .tm {
    margin-top: -35px;}
	#rgba_first-consultation .tm_inner span {font-size:32px; text-transform: none;}
	
	#rgba_first-consultation .tm4 .tm_inner:before { background: url(../img/title_decor1.png) no-repeat left top; background-size: contain; width: 620px;
    height: 110px;
    left: -25px;
    top: -15px; }
	.fdesk {
	  
    padding: 65px 70px 0 70px;
    font-size: 14px;
	
	}
	
	#rgba_first-consultation .pu_zapis_main .form_style { margin-top: 40px;}
	#rgba_first-consultation .in_2 > span { padding-left: 25px; }
	
	#rgba_first-consultation .in_2 {
    overflow: hidden;
    margin-left: -25px;
}

#rgba_first-consultation .pu_zapis {
    padding: 0 110px;
    overflow: hidden;
}

#rgba_first-consultation .pu_zapis .form_personal {
    margin-top: 40px; display: inline-block;
}

#rgba_first-consultation .in_1{text-align: center;}

#rgba_first-consultation .pu_zapis .btn_main {     text-transform: uppercase;
    margin-top: 16px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
