.calc_t{
margin-top:50px;
}
#calc_block{
margin-bottom:50px;
}
.calc_button {
    display: inline-block;
    color: #0e7fc7;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #0e7fc7;
    border-radius: 50px;
    cursor: pointer;
    width: 300px;
    text-align: center;
}
.calc_button:first-child{
	margin-right:20px;
}
.calc_button.active {
    color: white;
    background: #0e7fc7;
}
.calc_block_left {
    width: 340px;
    margin-left: -100px;
    padding-left: 100px;
    margin-right: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
    background: url(/images/calc_bg.png) no-repeat;
    display: inline-block;
    vertical-align: top;
}
.calc_img {
    text-align: center;
    position: relative;
    padding-top: 20px;
}
.calc_block_main {
    margin-top: 50px;
}
.calc_text {
    font-size: 18px;
    text-transform: uppercase;
    color: #323433;
    text-align: center;
    position: relative;
}
.calc_img > span {
    position: absolute;
    display: block;
    font-size: 14px;
    color: #323433;
    padding: 0px 7px;
    border: 1px solid #25b1ec;
    background: white;
    border-radius: 20px;
    cursor:pointer;
}
.calc_img span.active {
    color: white;
    background: #25b1ec;
}
span.l_t_8 {
    left: 35px;
    top: 180px;
}
span.l_t_7 {
    left: 40px;
    top: 157px;
}
span.l_t_6 {
    left: 50px;
    top: 135px;
}
span.l_t_5 {
    left: 60px;
    top: 114px;
}
span.l_t_4 {
    left: 70px;
    top: 93px;
}
span.l_t_3 {
    left: 85px;
    top: 73px;
}
span.l_t_2 {
    left: 107px;
    top: 60px;
}
span.l_t_1 {
    left: 140px;
    top: 55px;
}
span.r_t_8 {
    right: 35px;
    top: 180px;
}
span.r_t_7 {
    right: 40px;
    top: 157px;
}
span.r_t_6 {
    right: 50px;
    top: 135px;
}
span.r_t_5 {
    right: 60px;
    top: 114px;
}
span.r_t_4 {
    right: 70px;
    top: 93px;
}
span.r_t_3 {
    right: 85px;
    top: 73px;
}
span.r_t_2 {
    right: 107px;
    top: 60px;
}
span.r_t_1 {
    right: 140px;
    top: 55px;
}
span.l_b_8 {
    top: 270px;
    left: 35px;
}
span.l_b_7 {
    left: 40px;
    top: 301px;
}
span.l_b_6 {
    left: 50px;
    top: 330px;
}
span.l_b_5 {
    left: 60px;
    top: 355px;
}
span.l_b_4 {
    left: 78px;
    top: 370px;
}
span.l_b_3 {
    left: 99px;
    top: 382px;
}
span.l_b_2 {
    left: 121px;
    top: 390px;
}
span.l_b_1 {
    left: 146px;
    top: 394px;
}
span.r_b_8 {
    top: 270px;
    right: 35px;
}
span.r_b_7 {
    right: 40px;
    top: 301px;
}
span.r_b_6 {
    right: 50px;
    top: 330px;
}
span.r_b_5 {
    right: 60px;
    top: 355px;
}
span.r_b_4 {
    right: 78px;
    top: 370px;
}
span.r_b_3 {
    right: 99px;
    top: 382px;
}
span.r_b_2 {
    right: 121px;
    top: 390px;
}
span.r_b_1 {
    right: 146px;
    top: 394px;
}
.calc_block_right {
    width: 340px;
    display: inline-block;
    vertical-align: top;
}
.calc_text.left{
	text-align:left;
}
.calc_text > span {
    display: inline-block;
    padding: 0px 6px;
    background: #0e7fc7;
    color: white;
    font-size: 12px;
    cursor: pointer;
    top: 0px;
    border-radius: 20px;
    right: 0px;
    vertical-align: middle;
    margin-top: -5px;
    margin-left: 10px;
}
.calc_text > span:hover{
	background: #25b1ec;
}
.calc_block_select{
	position:relative;
}
.calc_help {
    font-size: 12px;
    color: #323433;
    background: #e8e8e8;
    width: 170px;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    right: 0px;
    z-index: 100;
    display:none;
}
.calc_block_select .calc_text{
	text-align:left;
}
.calc_block_select > div:first-child{
	margin-top:0px;
}
.calc_block_select > div{
	margin-top:30px;
}
.calc_block_sub{
	text-align:center;
}
.calc_block_sub .calc_submit {
    text-align: center;
    width: 200px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background: #0e7fc7;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    margin: 40px auto 0;
}
.calc_block_sub .calc_submit:hover {
	background:#25b1ec;
}
.calc_bot_text .calc_text{
	text-align:left;
	margin-bottom:20px;
}
.calc_errors{
	color:red;
	text-align:left;
	margin-bottom:20px;
	font-size: 16px;
	line-height: 18px;
	text-align:left;
	margin-top:20px;
}
.calc_errors .calc_text{
	text-align:left;
	color:red;
	margin-bottom:20px;	
}
.calc_bot_text{
	font-size: 16px;
    line-height: 18px;
    color: #484948;
    margin-top:20px;
}
.calc_summ{
	color:#0e7fc7;
	font-size:24px;
	text-transform:uppercase;
	font-weight:bold;
}
/*стили для select*/
.calc_block_select .jq-selectbox.jqselect {
    width: 100%;
}
.calc_block_select .jq-selectbox__trigger-arrow{
    border-top: 5px solid #0e7fc7!important;
}
.calc_block_select .jq-selectbox.jqselect.dropdown.opened .jq-selectbox__trigger-arrow{
    border-top: 5px solid #25b1ec!important;
}
.calc_block_select .jq-selectbox.jqselect .jq-selectbox__select{
	background: white!important;
    border: 1px solid #c4c4c4!important;
    border-radius: 15px!important;
}
.jq-selectbox__trigger{
	border-left:none!important;
}
.jq-selectbox li.selected{
	background-color: inherit!important;
    color: #231F20!important;
}
.jq-selectbox li:hover{
	background-color:#25b1ec!important;
	color:white!important;
}
.calc_block_select .jq-selectbox.jqselect.dropdown.opened .jq-selectbox__select{
	border-radius: 15px 15px 0px 0px!important;
}
.jq-selectbox__dropdown{
	border: 1px solid #c4c4c4!important;
    border-top: none!important;
    border-radius: 0px 0px 15px 15px!important;
    margin:0px!important;
}
.jq-selectbox.jqselect{
	margin-top:10px;
}
/*****************/
