.marginBottom50 {
	margin-bottom: 50px;
}
.marginBottom60 {
	margin-bottom: 60px;
}
.marginBottom100 {
  margin-bottom: 100px;
}
.marginBottom200 {
  margin-bottom: 20px;
}

table  tbody tr.type-price {
    background: #d7dbe4;
}
.main-offers .slide-text__link{
	z-index: 300;
}
.news-wrapper2{
	padding:0;
}
.news-wrapper2 .news-wrap{
	padding:0 0 30px;
}

.left-nav a.active{
	color: #25b3ef;
    padding-left: 15px;
}
.left-nav a.active:before{
	opacity:1;
}
.clearfix {
	display:table;
	content: '';
	clear:both;
}
.title-section .text-block__title{
	text-shadow: 1px 1px black;
}

.testimonial-wrapper .testimonial-doctor__item .doctor-block .doctor-media img{
	height:auto;
}
.form-bottom .footer-form{
	z-index:35;
}

.poiskpro-form .message div{
	font-size: 20px;
    margin-bottom: 15px;
}
.poiskpro-form .message div.bg-success{
	color:green;
}
.poiskpro-form label input.has-error,
.poiskpro-form label textarea.has-error,
.poiskpro-form label select.has-error{
	border-bottom-color:#fe0000;
}

.poiskpro-form .personal-agreement{
	font-size:12px;
	text-align: left;
	margin-bottom: 30px;
}
.poiskpro-form .personal-agreement label{
	margin-bottom: 0;
	display: inline-block;
	
}
.poiskpro-form .personal-agreement input{
	display: inline-block;
}
.poiskpro-form .personal-agreement input.has-error{
	box-shadow: 0px 0px 5px 1px #fe0000;
}
.gallery-page-container .gallery-item a{
	width: 50%;
	border-radius:0;
}

.bot-header .sub-nav:hover ul a:hover, .bot-header .sub-nav:hover ul a.active {
    color: #25b3ef;
}
.left-nav ul{
	max-height: 500px;
    overflow-y: scroll;
}

.service-direction .title-section .text-block__title::before {
	content: none;
}
.service-direction .title-section .text-block__title {
    padding: 25px;
    background: url("../image/bg-tit-7.png") no-repeat;
    background-size: 100% 100%;
}
.service-page .title-section .text-block__title::before {
	content: none;
}
.service-page .title-section .text-block__title {
    padding: 25px;
    background: url("../image/bg-tit-3.png") no-repeat;
    background-size: 100% 100%;
}

.price-direction,
.equipment-direction,
.team-direction,
.work-direction,
.video-direction{
    padding: 100px 0 0px;
}

/*22.06.2017 try to hide Google translation panel*/
body {
	top: 0px !important;
}
body > div.skiptranslate {
	display: none !important;
}

.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}
.goog-te-gadget-icon {
display:none;
}

.goog-te-gadget-simple .goog-te-menu-value {
    color: #9b9a9f !important;
}

#google_translate_selector {
position: absolute;
top: 8px;
left: 8px;
z-index: 1;
}

#header.header-scroll #google_translate_selector {
left: 175px;
}

#google_translate_selector .goog-te-menu-value span {
	color: #444;
	font-weight: 800;
}

.goog-te-menu-frame .goog-te-menu2-item span {
	font-weight: 800;
}
/*.translated_en .header-scroll {
    top: 40px;
}*/

.translated_en .main-offers .title-vertical {
    left: -210px;
    top: 240px;
}

.translated_en .video-wrapper .title-section .text-block__title:before {
    left: -30px;
}
.translated_en .about-wrapper .title-section .text-block__title:before {
    left: -40px;
}
.translated_en .gallery-page-wrapper .title-section .text-block__title:before {
    left: -130px;
}
.translated_en .present-info .title-section .text-block__title:before {
    width: 630px;
    background-size: 100% 100%;
}
.translated_en .system-offers .title-section .text-block__title:before {
    left: -10px;
}
@media (max-width: 480px) {
#google_translate_selector {
/*    left: 8px;*/
}
.translated_en .main-offers .title-vertical {
    left: 0px;
    top: 0px;
}
}
@media (min-width: 481px) and (max-width: 768px){
.translated_en .main-offers .title-vertical {
    left: -160px;
}
}

@media (max-width: 1199px) {
#header.header-scroll #google_translate_selector {
left: 155px;
}
.nav-block li {
    padding:10px 7px;
}
.header-scroll .nav-block ul li {
    padding: 10px 7px;
}

}

@media (max-width: 479px) {
#header.header-scroll #google_translate_selector {
    left: 120px;
}
}
/*22.06.2017*/

/*11.07.2017*/
.equipment-media-button:before {
	content: none;
}
.equipment-media-button {
	overflow: initial;
	border-radius: initial;
}
/*11.07.2017*/

/*12.07.2017*/
@media (min-width: 1200px) {
@media (max-height: 991px) {
.popup-equ .popup-container {
    padding: 30px;
    margin: -330px auto 0;
	width: 660px;
}
.popup-equ .popup-slider .image-block {
    margin-bottom: 15px;
	height: 320px;
}
.popup-equ .popup-slider .slick-arrow {
    top: 130px;
}
.popup-equ .popup-slider .image-block img {
	margin-top: -10%;
}
.popup-equ .popup-slider__info .title-block {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
}
.popup-equ .popup-slider__info {
    height: 200px;
}

}
}

/*.main-bg {
    height: 480px;
}*/


#google_translate_selector > img {
	width: 28px;
	position: absolute;
	top: -2px;
	left: 0;	
}


@media (max-width: 480px) {
#google_translate_selector > img {
display:none;
}
#google_translate_element {
	padding-left: 0px;	
}
}

#google_translate_element {
	padding-left: 30px;	
}

.containerVideoClass {
    position: relative;
    background-color: rgba(255,255,255,0.8);
    overflow: hidden;
}

.containerVideoClass::after {
    position: absolute;
    content: '';
    background: url("../image/slider-bef.png") no-repeat 50%;
    height: 190px;
    width: 100%;
    z-index: 1;
    bottom: -30px;
    left: 0;
    right: 0;
}

.main-bg .main-item::after {
    content: none;
}

.main-video {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
}

@media (max-width: 1300px) {
	.main-video video {
		width: 1300px;
	}
}

.containerForIE{
	position: relative;
	z-index: 2;
}


@media (max-width: 992px) {
  .popup .popup-container {
    width: 520px;
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .popup .popup-container {
	width: 380px;
	padding: 30px;
	margin: -280px auto 0;
	top: 50%;
	border-radius: 30px;
	height: initial; 
	z-index: 999; 
  }
}
@media (max-width: 379px) {
  .popup .popup-container {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    border-radius: 0;
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .popup-equ .popup-slider {
    width: 300px;
    margin: 0 auto;
  }
}
.video-wrapper .video-wrap {
    overflow-x: hidden;
}

.team-link.write-to-dir {
	margin-top: 30px;
}
.team-link.write-to-dir .btn-director {
	padding: 15px 50px 17px 22px;
}



.left-nav-menu {
    position:relative;
}

@media (min-width: 991px) {
.left-nav-menu {
    position:fixed;
    width: 265px;
    z-index: 6;
}
}

.form-bottom {
    z-index: 7;
}

.page-wrapper, .footer {
    z-index: 8;
}

.sub-menu-container {
    display: none;
    width: 265px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: -225px;
    z-index: 99;
    border: 2px solid #0E7FC7;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 25px;
}
@media (max-width: 992px) {
.sub-menu-container {
    right: 0px;
}
.left-nav-menu {
    margin-top:30px;
}
}
.sub-nav-item-content {
    display:none;
    width:0px;
    height:0px;
    opacity: 0;
}

.sub-menu-container .left-item {
    padding: 6px 0;
    display: block;
}
.sub-menu-container a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-family: "GothamProRegular";
  position: relative;
  box-sizing: border-box;
  padding-left: 0;
  color: #383d43;
}
@media (max-width: 992px) {
.sub-menu-container a {
    padding-left: 15px;
  }
}
.sub-menu-container a:before {
  position: absolute;
  content: "\F054";
  top: 3px;
  left: 0;
  opacity: 0;
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  font-size: 14px;
  color: #383d43;
}
@media (max-width: 992px) {
  .sub-menu-container a:before {
    opacity: 1;
  }
}
.sub-menu-container a:hover {
  color: #25b3ef;
  padding-left: 15px;
}
.sub-menu-container a:hover:before {
  opacity: 1;
  color: #25b3ef;
}
/*12.07.2017*/

.poiskpro-form .personal-agreement {
    margin-bottom: 15px;
}

.doctor-wrapper .video-block,
.parnters-block {
	position: relative;
	z-index: 99;
}

.offers-inner-free {
width: 95%;
text-align: center;
margin: 0 auto;
}

.mdi-play-circle-for-a-link-transparent {
color:transparent;
}
/*BGN 15.07.2017*/
.page-body {
    -ms-flex: none;
    flex: none;
}
/*END 15.07.2017*/

/*BGN 28.07.2017*/
.main-bg .text-block {
background: initial;
box-shadow: initial;
margin: -150px auto 0;	
}
.main-bg .text-block .link-block {
display: none;	
}
.about-top-banner .text-block {
background: initial;
margin: -350px auto 0;
box-shadow: initial;
}

@media (max-width: 767px) {
/*.main-video video {
	width: 1024px;
}*/
}
@media (max-width: 680px) {
.main-bg .text-block {
    top: 200px;
    height: initial;
}
.about-top-banner .text-block {
    margin: -100px auto 0;
}
}

@media (max-width: 480px) {
.main-bg .text-block {
    margin: 0px auto 0;
}
.about-top-banner .text-block {
    margin: -10px auto 0;
}
}
.video-direction .video-block {
position: relative;
z-index: 9;	
}


.equipment-media::before,
.equipment-wrapper .equipment-media::before,
.doctor-cert__item a::before {
    background: transparent;
}

.parnters-block .video-block p {
	display: none;
}

@media (max-height: 1200px) {
.popup-equ .popup-container {
    margin: -450px auto 0;
}
}
@media (max-height: 991px) {
.popup-equ .popup-container {
    margin: -330px auto 0;
}	
}
@media (max-height: 700px) {
.popup-equ .popup-slider__info {
    height: 150px;
}
.popup-equ .popup-container {
    margin: -270px auto 0;
}	
}

/*END 28.07.2017*/
/*BGN 30.07.2017*/
.system-offers .left-img-container {
    width: 60%;
    height: 600px;
    position: relative;
    z-index: 1;
    float: left;
}
.system-offers {
    padding: 50px 0 30px;
}
.title-wrap .vacancy-date-time {
font-size: 15px;
color: #9b9a9f;

}

.vacancy-block {
border: 4px solid #23B2EE;
border-radius: 30px;
padding: 70px 20px;
}
/*END 30.07.2017*/

.certificates-wrapper .certificates-item a::before {
background:none;
}

.testimonial-wrapper .testimonial-doctor__item .doctor-testimonial .doctor-testimonial__text.no-before-class::before {
    content: none;
}

/*photo gallery*/
.class-z-index-35 {
    position: relative;
    z-index: 35;
}

.main-gallery.new-main-gallery .title-section {
    text-align: center;
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 30px;
}
.main-gallery.new-main-gallery .title-section .text-block__title::before {
    left: 60px;
}

@media (max-width: 1200px) {
  .main-gallery.new-main-gallery .title-section .text-block__title:before {
    left: 15px;
  }
}
@media (max-width: 992px) {
  .main-gallery.new-main-gallery .title-section .text-block__title:before {
    left: -70px;
    top: 5px;
    height: 80px;
    width: 800px;
    background: url("../image/bg-tit-6.png") no-repeat;
  }
}
/*photo gallery*/

/*about us*/
.wrapper.padding-wrapper {
    padding: 100px 0 0;
}


.about-wrapper.new-about-wrapper::before {
    left: 0;
    top: -200px;
}
.about-wrapper.new-about-wrapper{
  margin-top: -150px;
  padding: 0px 0 10px;
}

.about-principles.new-about-principles {
  padding: 0 0 10px;
}

.team-wrapper.new-team-wrapper {
    padding: 0 0 25px;
}


.equipment-wrapper.new-equipment-wrapper .equipment-wrap .equipment-item {
    width: 25%;
}

@media (max-width: 992px) {
.equipment-wrapper.new-equipment-wrapper .equipment-wrap .equipment-item {
    width: 50%;
}
}

@media (max-width: 992px) {
.equipment-wrapper.new-equipment-wrapper .equipment-wrap .equipment-item {
    width: 50%;
}
}


@media (min-width: 993px) {
.equipment-wrapper.new-equipment-wrapper .title-section {
    padding-bottom: 30px;
}
}

.equipment-wrapper.new-equipment-wrapper {
    padding: 0 0 30px;
}

.main-gallery.new-main-gallery {
    padding: 0px 0 20px;
}


.video-wrapper.new-video-wrapper {
    padding: 0px 0 30px;
}

.certificates-wrapper.new-certificates-wrapper .title-section {
    padding-bottom: 30px;
}

.certificates-wrapper.new-certificates-wrapper .certificates-item a:hover::before {
    background: none;
}

.partner-wrapper.new-partner-wrapper .title-section {
    padding-bottom: 30px;
}

.partner-wrapper.new-partner-wrapper .partner-slider-about .slide img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    opacity: 1;
}

/*about us*/

/*partmers*/
.partner-page-info.new-partner-page-info {
  margin-bottom: 200px;
}

.new-partners-wrapper .partner-slider .slide img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    opacity: 1;
}


.new-gallery-page-wrapper .gallery-page-container .gallery-item a span {
    background: none;
}
.new-gallery-page-wrapper .gallery-page-container .gallery-item a:hover span {
    background: rgba(14, 127, 199, 0.9);
}

.service-direction .work-direction .work-direction-slider .slick-list::before {
    background: none;
}
/*partners*/

/*tax*/
.tax-wrapper.new-tax-wrapper {
  padding: 20px 0 0px;
}

.tax-documentation.new-tax-documentation {
  padding: 60px 0 0px;
}
/*tax*/

.jotting-wrapper {
    padding: 20px 0 30px;
}

.service-page .team-page .team-direction-slider {
  padding-bottom: 100px;
}

.photo-gallery-slider-border {
  position: relative;
}

.photo-gallery-slider-border .photo-gallery-slider-img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px 14px;
  max-width: 100%;
}

.partners-wrapper .title-section {
    text-align: center;
}
.partners-wrapper{
    padding: 30px 0 30px !important;
}

.equipment-direction, .team-direction, .work-direction, .video-direction {
    padding: 0px 0 0px !important;
}

.price-direction {
    padding: 0 0 30px 0 !important;
}

.service-direction-info {
    margin-bottom: 30px !important;
}

.service-direction-img {
    margin-bottom: 0 !important;
}

/*.team-wrap {
    z-index: 10;
}*/

.team-page {
    padding: 50px 0 30px;
}

.main-offers .main-offers-slider .slick-arrow, 
.main-offers .main-offers-slider .slick-dots {
    z-index: 20;
}

#border-iframe .border-top{
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    height: 63px;
	background: url("/upload/template/image/b_top.png");
}
#border-iframe .border-right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 140px;
    background: red;
	background: url("/upload/template/image/b_right.png");
}
#border-iframe .border-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 63px;   
	background: url("/upload/template/image/b_bottom.png");
}
#border-iframe .border-left{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 140px;    
	background: url("/upload/template/image/b_left.png");
}

.file-upload {
  overflow: hidden;
  margin-bottom: 25px;
}
.file-upload div.button {
  position: relative;
  display: inline-block;  
  background: transparent;
  border: 2px solid #25b1ec;
  font-size: 14px;
  color: #25b1ec;
  border-radius: 4px;
  height: 40px;
  width: 210px;
  text-transform: uppercase;
}

.file-upload div.button>span {
	line-height: 40px;
}

.file-upload button:hover {
  background: #25b1ec;
  color: #ffffff;
}
.file-upload .file-upload__text,
.file-upload span {
  font-size: 14px;
  line-height: 14px;
  color: #25b1ec;
  font-family: "GothamProMedium";
}
.file-upload span {
  display: block;
  margin-bottom: 10px;
}
.file-upload .file-upload__text {
  display: inline-block;
  margin-left: 20px;
}
.file-upload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
    right: 0;
  /*width: 100%;
  height: 100%;*/
  opacity: 0;
  cursor: pointer;
    z-index: 5;
}

.service-page-info .main-list {
    margin-bottom: 30px !important;
}

.title-wrap img{
    vertical-align: middle;
}

.team-slider__info .title-item span {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    line-height: 21px;
    color: #167fc0;
    font-weight: 700;
}
.icon_youtube{
	display:block;
	width:21px;
	height:24px;
	background:url('/upload/template/image/icon_youtube.png') no-repeat;
}

.search-block{
	position: relative;
    margin-right: 10px;
	width: 50px;
    height: 40px;
}
.ol-consultation {
  position: absolute; 
  right: 0; 
  /* s  */
  z-index: 2;
  text-align: center;
  border-radius: 50px;
  height: 50px;
  float: right;
  min-width: 50px;
  -webkit-transition: ease .1s;
  transition: all 0.3s;
  width: 50px;
  overflow: hidden; }
  .ol-consultation .top-search {
    display: inline-block;
    line-height: 43px;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    border-radius: 50px !important; }
    .ol-consultation .top-search .cons-link {
      display: none;
      font-family: "GothaProBlack", Arial, sans-serif;
      font-size: 14px;
      color: #295d85;
      margin-right: 10px;
      vertical-align: middle;
      line-height: 45px;
      white-space: nowrap; }
      .ol-consultation .top-search .cons-link .serch-form {
        border: none;
        font-family: "OpenSans-Italic";
        font-size: 14px;
        background-color: transparent;
        height: 50px;
        width: 130px;
        margin-left: 3px;
        padding-left: 5px; }
    .ol-consultation .top-search button {
      display: inline-block;
      font-size: 30px;
      line-height: 45px;
      background: none !important;
      border: none !important;
      vertical-align: middle;
      color: #fff; }
  .ol-consultation:hover {
    width: 205px;
    background-color: #d1e3f6; }
    .ol-consultation:hover .top-search {
      padding: 0 5px; }
    .ol-consultation:hover .top-search .cons-link {
      display: inline-block;
      transition: all 0.3s; }
	  
.search-page{
	font-size:14px;
}	  
.subscribe_confirm{
	font-size:20px;
	text-align:center;
}
.subscribe_confirm span{
	font-size:24px;
	font-weight:bold;
}
.jspHorizontalBar{
	background:none;
}

.search-page input[name="q"] {
	font-family: "OpenSans-Italic";
    font-size: 14px;
    background-color: transparent;
    height: 50px;
    width: 100%;
    margin-left: 3px;
    padding-left: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.search-page button {
	background: #fff;
    border-radius: 30px;
    padding: 20px 50px 20px 40px;
    position: relative;
	border: 1px solid #0d7fc7;
	float:right;
}
.search-page button:after{
	position: absolute;
    content: "\F054";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 24px;
    color: #27b1f0;
    right: 20px;
    top: 16px;
    transition: all ease 300ms;
}
.search-page button span{
	font-size: 16px;
    line-height: 18px;
    color: #393d45;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "GothamPro Black";
}
.search_title{
	display: inline-block;
    text-decoration: none;
    color: #0a7ec9;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    font-family: "GothamPro Black";
	
}
.search-page p,.search-page small span{
	
    font-size: 16px;
    color: #a7a7a7;
    line-height: 21px;
}
@media (max-width: 446px) {

	.search-block{
		margin-bottom: 15px;
	}
	.header {
		height: 125px;
	}

}

@media (max-width: 380px) {

	.search-block{
		width: 100%;
		margin-bottom: 20px;
	}
	.header {
		/*height: 215px;*/
       height: auto;
	}

	.header-scroll .logo-block .logo-img-blue {
		max-width: 90px;
		margin-top: 10px;
	}

	.header .logo-block a {
		width: 90px;
	}

	#header.header-scroll #google_translate_selector {
		left: 90px !important;
	}

}

@media (max-width: 450px) {
	.header {
       height: auto;
		min-height: 90px;
	}
	.search-block{
		display: none !important;
	}
}


.sub-nav ul{
z-index: 555;
}

.team-direction-slider.slick-initialized.slick-slider {
    z-index: 5;
}

.team-direction-slider{
    padding-bottom: 55px !important;
    bottom: -55px !important;
    margin-bottom: 50px;
}

/*18.09.2017 fixes*/
.partner-page .partner-page-media.no-blue-border {
    border: none;
}

.left-nav-menu.no-fixed-position {
    position: relative;
}
.left-nav-menu.no-fixed-position .left-nav .left-nav-container {
    max-height: none;
}
.header .bot-nav-open {
background-image: url('/upload/template/image/small-menu.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.header-scroll .search-block {
    opacity: 0;
    z-index: -999;
    visibility: hidden;
}

@media (min-width:1250px) {
.ol-consultation {
    width: 205px;
    background-color: #d1e3f6;
}
.ol-consultation .top-search {
    padding: 0 5px;
}
.ol-consultation .top-search .cons-link {
    display: inline-block;
}
}
.title-section.new-title-section .text-block__title::before {
    content: none;
}
.title-section.new-title-section .text-block__title {
    padding: 25px;
    background-image: url("../image/bg-tit-5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width:480px) {
.main-offers .main-offers-slider .slick-arrow {
    bottom: -35px;
}
.main-offers .main-offers-slider .slick-next {
    left: initial;
    right: 0px;
}
.main-offers .slide-text__link {
left: 50%;
margin-left: -111px;
right: initial;
bottom: -80px;
}
.wrapper.main-offers.class-z-index-35 {
padding-bottom: 120px;
}
}
/*18.09.2017 fixes*/
.top-header .social-icon a,
.footer-wrapper .social-fot a {
    color: #b6e9ff;
}

.icon_youtube {
    background: url('/upload/template/image/youtube.png') no-repeat;
background-size: contain;
}

/*25.09.2017 background for title inservices*/
.title-wrap {
    position: relative;
	color: #072f5f;
}
.title-wrap::before,
.service-page .main-text h2::before {
    background-image: url('/upload/template/image/title-background.png');
    background-repeat: no-repeat;
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    position: absolute;
    top: 50%;
    left: -35px;
    margin-top: -60px;
background-size: 100% 100%;
}

.service-page .main-text h2 {
text-align: left !important;
position: relative;
margin-bottom: 20px;
}

.three-l-title-wrap.title-wrap::before {
    height: 160px;
    margin-top: -80px;
    background-size: 100% 100%;
}
.four-l-title-wrap.title-wrap::before {
    height: 220px;
    margin-top: -110px;
    background-size: 100% 100%;
}

.price-info-item .title-wrap {
	max-width: 615px;
	margin: 0 auto 25px;
}
.team-wrap .title-wrap {
	max-width: 615px;
	margin: 0 auto 30px;
}
.service-page .title-wrap {
	margin-bottom: 20px;
	margin-top: 30px;
}
.price-info-item .title-wrap::before,
.team-wrap .title-wrap::before {
    left: 30px;
}
@media (min-width:1200px) {
	.system-offers .title-wrap {
		max-width: 40%;
		float: right;
	}
}


@media (max-width:768px) {
	.service-direction .title-section .text-block__title {
		background:none;
	}
	.title-wrap::before {
		content: none;
	}

}
/*25.09.2017 background for title inservices*/
.vacancy-block .title-wrap::before {
content:none;
}

.top-header .link-block a,
.btn-right .btn-item a,
.popup .popup-container .title-form,
.form-bottom .footer-form .title-form,
.left-nav .title-nav,
.btn-right-ar,
.btn-right-ar::after,
.nav-wrapper li a,
.nav-wrapper li a::before,
.news-wrapper .news-wrap__nav a,
.testimonial-wrapper .testimonial-patient__item .testimonial-item__info .link-page a,
.testimonial-wrapper .testimonial-doctor__item .doctor-testimonial .doctor-testimonial__text .link-text a,
.offers-container .offers-item .offers-inner .slide-text__title,
.form-contact .title-form,
.search-page button span {
	color: #072f5f;
}

.wrapper.service-page.parnters-block::before {
content:none;
}

.credit-item .title-wrap {
margin-top: 20px;
margin-bottom:30px;
}

table.clearScroll tbody {
overflow: initial;
max-height: 100%;
} 